body{
    background-color: #f5f5f5;
}
.section_menu_user{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
.menu_user{
    width: 100%;
    
    background-color: #333333;
}
.menu_user li{
    display: inline-block;
    padding:5px 50px;
    
}
.menu_user a{
    text-decoration: none;
    color:#fff;
}
.menu_selected{
    background-color: #aaa;
    color: red;
}
.member_left_menu{
    text-align: left;
}

.member_left_menu > ul{
    padding: 0px;
    text-align: left;
    color:red;
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
    font-size: 17px;
    color: #333333;
}
.member_left_menu > ul > li{
    padding: 5px 0 0 0;
}
.member_left_menu > ul > li > a{
    text-align: left;
    text-decoration:none;
    color:#333333;
}
.right_item{
    border: 1px solid #ffffff;   
}

.right_item > h3{
    padding: 15px; 
}

.vignette{
    background-color: #fff;
    border: 1px solid #aaa;
    float: left;
    margin: 10px;
    min-height: 120px;
    padding: 10px;
    width: 90%;
    border-radius: 2px;
}

.booking_vignette{

}

.review_vignette{

}

.left_menu{

    background-color: #efefef;
}

.vignette_picture{
    padding: 0;
}
    
.reviewgrade{
    background-color: #f5f5f5;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    color: #222;
    font-size: 15px;
    font-weight: bold;
    margin: 16px;
    padding: 12px;
}
.reviewgrade span{
    font-size: 20px;

}