@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/ProximaNova-Bold_3-webfont.eot');
    src: url('../fonts/ProximaNova-Bold_3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold_3-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova-Bold_3-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Bold_3-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Bold_3-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/ProximaNova-Light_3-webfont.eot');
    src: url('../fonts/ProximaNova-Light_3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Light_3-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova-Light_3-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Light_3-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Light_3-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/ProximaNova-Reg_2-webfont.eot');
    src: url('../fonts/ProximaNova-Reg_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Reg_2-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova-Reg_2-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Reg_2-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Reg_2-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/ProximaNova-Sbold_2-webfont.eot');
    src: url('../fonts/ProximaNova-Sbold_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Sbold_2-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova-Sbold_2-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Sbold_2-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Sbold_2-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}