footer {
    .follow-us {
        padding: 50px 0px;
        text-align: center;
        background-color: #2ba8cf;
        h3,
        ul {
            display: inline-block;
        }
        h3 {
            font-family: 'proximanova';
            margin-right: 5px;
            font-size: 24px;
            color: #f3f3f3;
        }
        ul {
            margin: 0px;
            padding-left: 0px;
            list-style: none;
            li {
                @extend %transition;
                display: inline-block;
                width: 70px;
                height: 70px;
                background-color: #fff;
                border-radius: 100%;
                text-align: center;
                margin: 0px 5px;
                a {
                    color: #03aad2;
                    font-size: 32px;
                    span {
                        line-height: 70px;
                    }
                }
            }
            li:hover {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
            }
        }
    }
    .footer-bg {
        background-color: #2b2b2b;
        padding-bottom: 20px;
        overflow: auto;
        .container {
            > div {
                margin-top: 40px;
                min-height: 215px;
                width: 25%;
                box-sizing: border-box;
                float: left;
                padding: 0px 15px;
                h3 {
                    color: #f3f3f3;
                    font-family: 'proximanova-bold';
                    font-size: 14px;
                    margin-bottom: 30px;
                }
                .footer-col-content {
                    list-style: none;
                    padding-left: 0px;
                    li {
                        a {
                            color: #f3f3f3;
                            font-size: 12px;
                            font-family: 'proximanova';
                            text-decoration: none;
                            @extend %transition;
                        }
                        a:hover {
                            color: #ddd;
                        }
                    }
                }
                #newsletterform {
                    position: absolute;
                    input {
                        height: 30px;
                        border: none;
                        font-size: 15px;
                    }
                    #email {
                        font-family: 'proximanova-light';
                        padding-left: 10px;
                        color: #333;
                    }
                    #submit-follow {
                        background-color: #828282;
                        padding: 0px 20px;
                        color: #fff;
                        font-family: 'proximanova-bold';
                    }
                }
            }
        }
        .copyright {
            margin-top: 30px;
            p {
                font-size: 12px;
                color: #f3f3f3;
                font-family: 'proximanova';
            }
        }
    }
}
@media screen and (max-width: 992px) {
    footer {
        .footer-bg {
            .container {
                > div {
                    width: 50%;
                }
            }
        }
    }
}


/* Small Devices, Tablets */

@media screen and (max-width: 768px) {
    footer {
        .footer-bg {
            .container {
                > div {
                    width: 100%;
                }
            }
        }
    }
}
