$btn-search-color: #2aa8cf;
$btn-book-color: #2aa8cf;
$btn-get_code-color: #2aa8cf;
$btn-coming-color: #ccc;
$btn-hover-color: #4E819C;
$book_restaurant_bg_color: #efefef;
@font-face {
    font-family: 'proximanova-thin';
    src: url('../fonts/proximanova/Mark-Simonson-Proxima-Nova-Thin.otf');
}

@font-face {
    font-family: 'proximanova-it';
    src: url('../fonts/proximanova/Mark-Simonson-Proxima-Nova-Alt-Light-Italic.otf');
}

@font-face {
    font-family: 'proximanova-extrabold';
    src: url('../fonts/proximanova/Mark-Simonson-Proxima-Nova-Extrabold.otf');
}

@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/ProximaNova-Bold_3-webfont.eot');
    src: url('../fonts/ProximaNova-Bold_3-webfont.woff2') format('woff2'), url('../fonts/ProximaNova-Bold_3-webfont.woff') format('woff'), url('../fonts/ProximaNova-Bold_3-webfont.svg') format('svg');
}

@font-face {
    font-family: 'proximanova-light';
    src: url('../fonts/ProximaNova-Light_3-webfont.eot');
    src: url('../fonts/ProximaNova-Light_3-webfont.woff2') format('woff2'), url('../fonts/ProximaNova-Light_3-webfont.woff') format('woff'), url('../fonts/ProximaNova-Light_3-webfont.svg') format('svg');
}

@font-face {
    font-family: 'proximanova';
    src: url('../fonts/ProximaNova-Reg_2-webfont.eot');
    src: url('../fonts/ProximaNova-Reg_2-webfont.woff2') format('woff2'), url('../fonts/ProximaNova-Reg_2-webfont.woff') format('woff'), url('../fonts/ProximaNova-Reg_2-webfont.svg') format('svg');
}
.content-sec {
    overflow: auto;
}
%transition {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

%btnSearch {
    margin: 0px;
    padding: 0px;
    background-color: $btn-search-color;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    span {
        font-family: 'proximanova';
        font-size: 20px;
        line-height: 47px;
        padding: 0px 30px;
        color: #fff;
    }
}

%btnSearchHover {
    background-color: $btn-hover-color;
    @extend %transition;
}

%item {
    border: 1px solid #eee;
    margin-bottom: 30px;
    background-color: #fff;
    animation: appear 1s;
    .custom-grid {
        width: 100%;
        figure {
            boxsizing: border-box;
            overflow: hidden;
           /* img {
                -webkit-transform: translateZ(0);
            }
            img:hover {
                @extend %transition;
                transform: scale(1.02);
                -webkit-transform: scale(1.02);
                -moz-transform: scale(1.02);
                -o-transform: scale(1.02);
                -ms-transform: scale(1.02);
            } */
            .offer-left,
            .offer-restau-name {
                background-image: linear-gradient(to bottom, rgba(80, 80, 80, 0), rgba(30, 30, 30, 0.9));
                color: #fff;
                font-size: 16px;
                font-family: 'proximanova';
                width: 100%;
                text-decoration: none!important;
                //-webkit-font-smoothing: antialiased;
            }
            .offer-left {
                position: absolute;
                background-color: rgba(160, 160, 160, 0.8);
                width: 100%;
                background-image: none;
                top: 0px;
                left: 0px;
                font-size: 13px;
                padding: 5px 20px;
            }
            .offer-restau-name {
                font-size: 18px;
                padding: 4px 20px;
            }
        }
    }
    a:link {
        text-decoration: none !important;
    }
    a:hover {
        text-decoration: none !important;
    }
    a:active {
        text-decoration: none !important;
    }
    a:visited {
        text-decoration: none !important;
    }
    .item {
        .item-info {
            text-align: left;
            float: left;
            width: 74%;
            padding-left: 0px;
            padding-right: 0px;
            margin: 0;
            .location-text {
                line-height: 15px;
                overflow: hidden;
                color: #444444;
                padding: 5px 0 0 10px;
                text-align: left;
                //display: inline-block;
                font-family: 'proximanova';
                //-webkit-font-smoothing: antialiased;
                .fa-map-marker {
                    margin-right: 5px;
                }
            }
        .cuisine-text {
                line-height: 15px;
                overflow: hidden;
                color: #444444;
                padding: 1px 0 0 10px;
                text-align: left;
                
                font-family: 'proximanova';
                //-webkit-font-smoothing: antialiased;
                .fa-map-marker {
                    margin-right: 5px;
                }
            }
        .review-text {
                line-height: 15px;
                overflow: hidden;
                color: #444444;
                padding: 3px 0 3px 7px;
                text-align: left;
                
                font-family: 'proximanova';
                //-webkit-font-smoothing: antialiased;
                .fa-map-marker {
                    margin-right: 5px;
                }
                
                .reviews{
                    display: block;
                    float: left;
                    min-height: 15px;
                    width: 80px;
                }

                .review-05{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll 1px 1px;
                }
                .review-10{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll -124px 1px;
                }
                .review-15{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll 1px -26px;
                }
                .review-20{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll -124px -26px;
                }
                .review-25{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll 1px -52px;
                }
                .review-30{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll -124px -52px;
                }
                .review-35{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll 1px -79px;
                }
                .review-40{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll -124px -79px;
                }
                .review-45{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll 1px -106px;
                }
                .review-50{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll -124px -106px;
                }
            }
            .details {
                text-align: left;
                margin-bottom: 10px;
                padding-left: 10px;
                a {
                    font-size: 12px;
                    padding-left: 0px;
                    font-family: 'proximanova-light';
                    color: #444444;
                    text-transform: capitalize;
                    font-weight: normal;
                    border-bottom: 1px solid #dedede;
                }
            }
            .book {
                text-align: left;
                padding: 0;
                position: relative;
                bottom: 0;
                font-family: 'proximanova';
                //position: absolute;
                .custom_button {
                    @extend %transition;
                    background: none;
                    background-color: $btn-book-color;
                    //-webkit-font-smoothing: antialiased;
                }
                .custom_button:hover {
                    background-color: $btn-hover-color;
                }
                .custom_button_book_soon{
                    background-color: $btn-coming-color;
                }
                .custom_button_book_soon:hover {
                    background-color: $btn-coming-color;
                }
                .btn-green{
                    background-color: $btn-get_code-color;
                }
                .btn-green:hover {
                    background-color: $btn-get_code-color;
                }
                
            }
        }
        .wheel {
            float: left;
            width: 25%;
            max-width: 140px;
            .wheel_value {
                max-width: 80%;
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

%suggestion {
    .tt-menu {
        background: #fff;
        width: 100%;
        border: 1px solid #ddd;
    }
    .tt-suggestion {
        padding: 8px 15px;
        font-family: 'proximanova-light';
        font-size: 14px;
        color: #333;
        float: none;
    }
    .tt-cursor {
        background: #ddd;
    }
    .tt-dataset {
        margin: 0px;
        padding: 0px;
    }
    .search-box-header {
        padding-left: 15px;
        background: #ddd;
        line-height: 30px;
        font-size: 14px;
        font-weight: bold;
        color: #333;
        float: none;
    }
}

%searchbar-input-group {
    width: 100%;
    position: relative;
    .twitter-typeahead {
        width: 100%;
        height: 40px;
        @extend %suggestion;
    }
    #auto_correct {
        @extend %suggestion;
        .tt-menu {
            position: absolute;
            z-index: 10;
            background: #fff;
        }
    }
}
