.header-image {
    z-index: 111;
    position: absolute;
    color: #fff;
    top: 128px;
    width: 100%;
    .title_home_page {
        color: #fff;
        span:first-child {
            font-family: 'proximanova-thin';
        }
        span:last-child {
            font-family: 'proximanova-bold';
            text-transform: uppercase;
        }
    }
    .form-search {
        margin-top: 70px;
        #search-input-group {
            @extend %searchbar-input-group;
            .twitter-typeahead {
                input {
                    top: 0px!important;
                    height: 47px!important;
                    font-size: 16px!important;
                    border: medium none;
                    border-radius: 0px;
                    font-family: 'proximanova-light'!important;
                }
                .tt-hint {
                    color: #ccc!important;
                }
            }
        }
        #restitle,
        #dd_city {
            font-family: 'proximanova-light';
            height: 47px;
            background-color: #ffffff;
        }
        #restitle {
            background-clip: padding-box;
            border: medium none;
            border-radius: 0px;
        }
        #dd_city {
            background-clip: padding-box;
            border-left: 1px solid #b7b7b7;
            border-radius: 0;
            padding: 0px;
        }
        #submit_search_home {
            @extend %btnSearch;
        }
        #submit_search_home:hover {
            @extend %btnSearchHover;
        }
    }
    .view-all-restaurant {
        margin-top: 20px;
        a {
            color: #ffffff;
            font-family: 'proximanova';
            font-size: 18px;
            line-height: 18px;
        }
    }
}

.background-gray {
    background-color: $book_restaurant_bg_color;
}

.early_book_restaurant {
    background-color: $book_restaurant_bg_color;
    .container {
        .title_home_page {
            color: rgb( 42, 168, 207);
            font-family: 'proximanova-thin';
            font-size: 56px;
            margin-top: 55px;
        }
        .sub_title_home_page {
            font-size: 22px;
            font-family: 'proximanova-light';
            color: #424242;
            margin-top: 13px;
            text-align: center;
            color: #424242;
        }
        .media-images {
            margin-top: 50px;
            .border {
                border: 1px solid #eee;
                margin-bottom: 30px;
                background-color: #fff;
                .custom-grid {
                    width: 100%;
                    figure {
                        boxsizing: border-box;
                        overflow: hidden;
                        /*img:hover {
                            @extend %transition;
                            transform: scale(1.02);
                            -webkit-transform: scale(1.02);
                            -moz-transform: scale(1.02);
                            -o-transform: scale(1.02);
                            -ms-transform: scale(1.02);
                        }*/
                        .offer-left,
                        .offer-restau-name {
                            background-image: linear-gradient(to bottom, rgba(180, 180, 180, 0), rgba(30, 30, 30, 0.9));
                            color: #fff;
                            font-size: 18px;
                            font-family: 'proximanova';
                            width: 100%;
                        }
                        .offer-left {
                            background-color: rgba(160, 160, 160,0.8);
                            width: 100%;
                            background-image: none;
                            top: 0px;
                            left: 0px;
                            font-size: 13px;
                            padding: 5px 20px;
                        }
                        .offer-restau-name {
                            font-size: 18px;
                            padding: 4px 20px;
                        }
                    }
                }
                @extend %item;
            }
        }
        .more-restaurant {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 65px;
            a {
                background: #808080;
                font-size: 14px;
                padding: 8px 12px;
                border-radius: 32px;
                color: #fff;
                font-family: 'Roboto';
                cursor: pointer;
            }
        }
    }
}

.how-it-work {
    padding-bottom: 10px;
    background: white none repeat scroll 0 0;
    .title_home_page {
        font-size: 56px;
        font-family: "proximanova-thin";
        margin-top: 60px;
        margin-bottom: 0px;
        color: $btn-search-color;
    }
    .how-image {
        div {
            margin-top: 40px;
            img {
                width: 100%;
                border: 1px solid $btn-search-color;
            }
            .title {
                margin-top: 20px;
                color: $btn-search-color;
                text-transform: capitalize;
                text-align: center;
                font-family: 'proximanova-light';
                font-size: 18px;
            }
        }
    }
    .more-info {
        text-align: center;
        margin-top: 65px;
        margin-bottom: 65px;
        a {
            background: #808080;
            font-size: 14px;
            padding: 8px 12px;
            border-radius: 32px;
            color: #fff;
            font-family: 'Roboto';
            cursor: pointer;
        }
    }
}

.available-mobile {
    background-color: $book_restaurant_bg_color;
    padding-bottom: 50px;
    padding-top: 37.5px;
    .title-available-mobile {
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .mobile-picture-div {
        margin: 0 10px 15px 0;
    }
}

.media-event {
    margin-bottom: 40px;
    .title_home_page {
        font-size: 56px;
        font-family: "proximanova-thin";
        color: rgb( 42, 168, 207);
        text-align: center;
        margin-top: 70px;
    }
    .sub_title_home_page {
        text-align: center;
        font-size: 22px;
        font-family: 'proximanova-light';
        margin-top: 10px;
    }
    .container {
        margin-top: 60px;
        margin-bottom: 40px;
        .item-custom {
            text-align: center;
            img {
                margin-bottom: 10px;
            }
        }
    }
    .more-event {
        margin-bottom: 65px;
        span {
            background: #808080;
            font-size: 14px;
            padding: 8px 12px;
            border-radius: 32px;
            color: #fff;
            font-family: 'Roboto';
            cursor: pointer;
        }
    }
    .design {
        @extend %transition;
    }
    .larger {
        width: 40%!important;
    }
    .smaller {
        width: 30%!important;
    }
}
@media screen and (max-width: 920px) {
    #bxslider img {
        margin-top: 0px;
    }
}

@media screen and (max-width: 670px) {
    .header-image {
        top: 100px;
        .form-search {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 670px) {
    .header-image {
        top: 50px;
        .form-search {
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    .header-image {
        top: 50px;
        .form-search {
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 400px) {
    .header-image {
        top: 20px;
        .form-search {
            margin-top: 10px;
        }
    }
}
