.main_picture {
    width: 100%;
    max-height: 450px;
    /* whatever width you want */
    display: inline-block;
    position: relative;
    
}
.main_picture:after {
    padding-top: 61.25%;
    /* 16:9 ratio */
    display: block;
    content: '';

}

.main_picture_content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 450px;
    overflow: hidden;
}


@media (min-width:1800px) and ( max-width: 3000px ) {
    #bxslider img{
        margin-top:-220px;
    }
}

@media (min-width:1600px) and ( max-width: 1800px ) {
    #bxslider img{
        margin-top:-220px;
    }
}


@media (min-width:1500px) and ( max-width: 1600px ) {
    #bxslider img{
        margin-top:-220px;
    }
}



@media (min-width:1350px) and ( max-width: 1500px ) {
    #bxslider img{
        margin-top:-200px;
    }
}

@media (min-width:1250px) and ( max-width: 1350px ) {
    #bxslider img{
        margin-top:-200px;
    }
}

@media (min-width:1050px) and ( max-width: 1250px ) {
    #bxslider img{
        margin-top:-200px;
    }
}

@media (min-width:750px) and ( max-width: 1050px ) {
    #bxslider img{
        margin-top:-150px;
    }
}

@media (min-width:600px) and ( max-width: 750px ) {
    #bxslider img{
        margin-top:-50px;
    }  
}

@media only screen and ( max-width: 600px ) {
    #bxslider img{
        margin-top:0px;
    }  
    .title_home_page{
        font-size: 25px;
    }
    .sub_title_home_page{
        font-size: 18px;
    }
}