<div id="my-review">
    <div ng-include="'client/app/shared/partial/_menu_user.html'"></div>
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <p>Your reviews</p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="review" ng-repeat="review in myReviews">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 vignette_picture">
                    <a href=""><img ng-src="{{ review.image }}"></a>
                    <div class="reviewgrade" style="text-align:center"><span ng-bind="review.reviewgrade"></span> / 5</div>
                </div>
                <div class="col-lg-6 col-md-9 col-sm-9 col-xs-9 infos">
                    <h4 ng-bind="review.restaurant_title"></h4>
                    <p ng-bind="review.timeStr"></p>
                    <div class="fb-jRate"></div>
                    <div class="form-group row">
                        <label for="slider_food_1" class="col-sm-3" style="margin-bottom: 0px;">Food</label>
                        <div class="col-sm-9">
                            <div id="text_slider_food_1" name="text_slider_food_1">{{ review.foodgrade }} / 5</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="slider_ambiance_1" class="col-sm-3" style="margin-bottom: 0px;">Ambiance</label>
                        <div class="col-sm-9">
                            <div id="text_slider_ambiance_1" name="text_slider_ambiance_1">{{ review.ambiancegrade }} / 5</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="slider_service_1" class="col-sm-3" style="margin-bottom: 0px;">Service</label>
                        <div class="col-sm-9">
                            <div id="text_slider_service_1" name="text_slider_service_1">{{ review.servicegrade }} / 5</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="slider_price_1" class="col-sm-3" style="margin-bottom: 0px;">Price</label>
                        <div class="col-sm-9">
                            <div id="text_slider_price_1" name="text_slider_price_1">{{ review.pricegrade }} / 5</div>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-top: 15px;">
                        <label class="col-sm-3" for="review_comment">Comment</label>
                        <div class="col-sm-9">
                            <div readonly="" ng-bind="review.comment"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
