<div class='col-md-4 col-sm-4'>	
    <div class="border">
        <div class="item-first right custom-grid">
            <article id='image_load{[{loop.index}]}' class='2items ribbon_holder resto_vignette'>
                <a href='{[{path_adaptor}]}{[{restaurant.internal_path}]}' class='pinme' rel='{[{restaurant.title}]}'  id="link-restaurant">    
                    <figure>                                
                        <img rel="{[{restaurant.default_picture}]}" src='{[{path_adaptor}]}images/image-tapisserie.png' id=''  class='img-responsive' alt="book-{[{restaurant.title}]}-with-weeloy"/>

                        <figcaption class='offer-left'>{% if restaurant.best_offer.0.offer|default %}{[{restaurant.best_offer.0.offer}]}{% else %}{[{restaurant.promotion}]}{% endif %} <span style='font-size:11.5px'>and more...</span></figcaption>
                        <figcaption class='offer-restau-name'>{[{restaurant.title}]}</figcaption>
                    </figure>
                </a>
            </article>
        </div>

        <div class='item' style="min-height:70px">
            <div class="item-info">
                <div class="location-icon">
                    <div class="location-text">{% if restaurant.region|default %} <span class="fa fa-map-marker"></span>{[{restaurant.region}]} - {%endif %}{[{restaurant.pricerating}]}</div>
                    <div class="cuisine-text">{[{ restaurant.cuisine|explode_cuisine }]}</div>
                    
                    <div class="review-text">
                        <span class='reviews {[{restaurant.review.score | get_review_class}]}'></span>
                        {% if restaurant.review.count >0 %}
                        {[{restaurant.review.review_desc|title}]} ({[{restaurant.review.count}]})
                        {% endif %}
                    </div>
                    </div>
                
                <div class="book">{[{restaurant.book_button|raw}]}</div>
            </div>
            {% if restaurant.is_wheelable %}
                <div class="wheel">
                    <img class='wheel_value' src='{[{restaurant.wheelvalue}]}' alt="weeloy-rewards-rating-{[{restaurant.wheelvalue}]}"/>
                </div>{% endif%}
                <div style="clear:both"></div>
            </div>
                <input type='hidden' id='current_load' value='0'>
                <input type='hidden' id='total_load' value='6'>
                <input type='hidden' id='minHeight' value='999999'>
        </div>
    </div>