<form name="ChangePasswordForm" ng-submit="ChangePasswordForm.$valid && ChangePassword(old_password, new_password)" novalidate>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="email" class="form-control" name="email" ng-model="UpdateUser.email" required>
        </div>
        <div class="error">
            <span ng-show="ChangePasswordForm.$submitted && ChangePasswordForm.email.$error.required">Please enter your email.</span>
            <span ng-show="ChangePasswordForm.$submitted && ChangePasswordForm.email.$error.type">Please enter a valid email.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input name="old_password" ng-model="old_password" type="password" class="form-control passtype" placeholder=" old password" required>
        </div>
        <div class="error">
            <span ng-show="ChangePasswordForm.$submitted && ChangePasswordForm.old_password.$error.required">Please enter your password.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input name="new_password" ng-model="new_password" type="password" class="form-control passtype" placeholder="new password" required>
        </div>
        <div class="error">
            <span ng-show="ChangePasswordForm.$submitted && ChangePasswordForm.new_password.$error.required">Please enter your new password.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input name="new_password_confirmation" ng-model="new_password_confirmation" type="password" class="form-control passtype" placeholder="retype password" required>
        </div>
        <div class="error">
            <span ng-show="ChangePasswordForm.$submitted && ChangePasswordForm.new_password_confirmation.$error.required">Please enter your new password confirmation.</span>
            <span ng-show="ChangePasswordForm.$submitted && new_password_confirmation != undefined && new_password_confirmation != '' && new_password != new_password_confirmation">Please enter same password again.</span>
        </div>
    </div>
    <div class="form-group text-center">
        <input type="submit" class="btn btn-info" value="Change Password">
    </div>
</form>
