<form name="ForgotPasswordForm" ng-submit="ForgotPasswordForm.$valid && ForgotPassword(email)" novalidate>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="email" class="form-control" name="email" ng-model="email" placeholder="email" required>
        </div>
        <div class="error">
            <span ng-show="ForgotPasswordForm.$submitted && ForgotPasswordForm.email.$error.required">Please insert your email</span>
            <span ng-show="ForgotPasswordForm.$submitted && !ForgotPasswordForm.email.$error.required && ForgotPasswordForm.email.$error.email">Please insert a valid email</span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-info" value="Forgot Password">
    </div>
</form>
