<form class="form-horizontal" name="LoginForm" ng-submit="LoginForm.$valid && Login(user)" novalidate>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="email" ng-focus="hideSystemMsg()" required>
        </div>
        <div class="error">
            <span ng-show="LoginForm.$submitted && LoginForm.email.$error.required">Please enter your email.</span>
            <span ng-show="LoginForm.$submitted && LoginForm.email.$error.email">Please enter a valid email.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" name="password" ng-focus="hideSystemMsg()" ng-model="user.password" type="{{ (showPassword == true) ? 'text' : 'password' }}" class="form-control" placeholder="password" required>
        </div>
        <div class="error">
            <span ng-show="LoginForm.$submitted && LoginForm.password.$error.required">Please enter your password</span>
        </div>
        <div class="show-password">
            <input id="show-password-ip" type="checkbox" ng-model="showPassword">
            <label class="checkbox-inline" for="show-password-ip">Show password</label>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-info" value="Login">
    </div>
</form>
