<div id="menu_user">
	<ul>
		<li class="{{ MenuUserSelected == 'mybookings' ? 'menu-user-selected' : '' }}">
			<a href="angular-client/mybookings">Bookings</a>
		</li>
		<li class="{{ MenuUserSelected == 'myreviews' ? 'menu-user-selected' : '' }}">
			<a href="angular-client/myreviews">Reviews</a>
		</li>
		<li class="{{ MenuUserSelected == 'myaccount' ? 'menu-user-selected' : '' }}">
			<a href="angular-client/myaccount">Acount</a>
		</li>
	</ul>
</div>