<form name="MyAccountForm" ng-submit="MyAccountForm.$valid && UpdateAccount(UpdateUser)" novalidate>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon input-group-addon75"><label for="email">e-mail</label></span>
            <input ng-model="UpdateUser.email" name="email" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon input-group-addon75"><label for="gender">gender</label></span>
            <select class="form-control" ng-model="UpdateUser.gender" ng-options="gender as gender.name for gender in genders"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon input-group-addon75"><label for="firstname">firstname</label></span>
            <input ng-model="UpdateUser.firstname" name="firstname" type="text" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon input-group-addon75"><label for="name">name</label></span>
            <input ng-model="UpdateUser.lastname" name="lastname" type="text" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon input-group-addon75"><label for="mobile">mobile</label></span>
            <input ng-model="UpdateUser.mobile" name="mobile" type="text" class="form-control" value="+65 82455434">
        </div>
    </div>
    <div class="form-group text-center">
        <input type="submit" class="btn btn-primary btn-lg" value="Update">
    </div>
</form>
