<div class="vignette review_vignette review-container" id="vignette_review">
    <div class="col-md-3 vignette_picture">
        <a id="review_interPath" href=''>
            <img ng-src="{{ reviewItem.image }}" />
        </a>
    </div>
    <div class="col-md-9 infos">
        <h4 id="res_title_review" ng-bind="reviewItem.restaurantinfo.title"></h4>
        <p id="bk-dt" ng-bind="reviewItem.timeStr"></p>
        <div class="form-group">
            <label for="slider_food" class="col-sm-3">Food</label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 food_grn">
                <div class="sliders noUi-target noUi-ltr noUi-horizontal noUi-background" rate-model="review.food">
                    <input type="hidden" value="0" class="form-control input-sm" id="text_slider_food" name="text_slider_food" placeholder="slider" readonly="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="slider_ambiance" class="col-sm-3">Ambiance</label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ambiance_ylw">
                <div class="sliders noUi-target noUi-ltr noUi-horizontal noUi-background" rate-model="review.ambiance"> </div>
            </div>
        </div>
        <div class="form-group">
            <label for="slider_service" class="col-sm-3">Service</label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 service_red">
                <div class="sliders noUi-target noUi-ltr noUi-horizontal noUi-background" rate-model="review.service"> </div>
            </div>
        </div>
        <div class="form-group">
            <label for="slider_price" class="col-sm-3">Price</label>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 price_grn">
                <div class="sliders noUi-target noUi-ltr noUi-horizontal noUi-background" rate-model="review.price"> </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3" for="review_comment">Comment</label>
            <div class="col-sm-9">
                <textarea id="review_comment" ng-model="review.comment"></textarea>
            </div>
        </div>
        <div style="padding: 15px;text-align:center;" class="spin_wheel_info">
            <input type="button" ng-click="ReviewNow()" class="btn btn-info-grey btn_submit_review" value="Review now">
        </div>
    </div>
</div>
