<ul class="additional-info">
    <li ng-repeat="serviceCategory in restaurant.RestaurantServices">
        <div class="head clearfix">
            <span class="ico"><img ng-src="{{serviceCategory.category_icon}}" width="23" height="23" alt=""></span> <span ng-bind="serviceCategory.category"></span>
        </div>
        <p>
        	<span ng-repeat="service in serviceCategory.services">
        		<span ng-if="serviceCategory.category_id != '3'">
        			<span ng-bind="service.name"></span>
        			<span ng-hide="$last">, </span>
        		</span>
        		<span ng-if="serviceCategory.category_id == '3'">
        			<img ng-src="{{service.icon}}" style="cursor: pointer">
        		</span>
        	</span>
        </p>
    </li>
</ul>
<div class="style ">
    <h2> Share This Resturant With Your Friends</h2>
    <button class="btn btn-lg btn-social btn-facebook" ng-click="fbshare(restaurant)"><i class="fa fa-facebook"></i>Share On Facebook</button>
</div>
