<form class="form-search">
    <div class="input-group input-group-lg search-bar">
        <div id="search-input-group">
            <input class="form-control search-input" placeholder="Restaurant name or Cuisine or Food" type="text" ng-model="free_search" ng-keyup="SearchInputKeyUp(free_search, city, $event)">
            <div id="auto_correct" ng-show="showAutoCorrect" class="ng-hide">
                <div class="tt-menu">
                    <div class="tt-dataset tt-dataset-title">
                        <p class="search-box-header"><strong ng-bind="Str.homepage.SuggestionTitle"></strong></p>
                        <!-- ngRepeat: suggestion in suggestions -->
                    </div>
                    <div class="tt-dataset tt-dataset-cuisine"></div>
                </div>
            </div>
        </div>
        <div id="dd_city" class="input-group-addon search-drop">
            <button type="button" data-toggle="dropdown" class="dropdown-sty">
                <span id="dropdown_title2" ng-bind="city.name"></span> <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" id="dropdownMenu2" role="menu">
                <li ng-repeat="city in cities" ng-click="SearchFormSelectCity(city)">
                    <a href="#" ng-bind="city.name"></a>
                </li>
            </ul>
        </div>
        <!-- /btn-group -->
        <div id="submit_search_home" class="input-group-addon" ng-click="Search(free_search, city)">
            <span class="">Search</span>
        </div>
        <input type="hidden" name="userid" id="userid" value="">
    </div>
    <!-- /input-group -->
    <!-- end new section -->
</form>
