<form name="SignupForm" ng-submit="SignupForm.$valid && SignupUser.password == SignupUser.password_confirmation && Signup(SignupUser)" novalidate>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="email" ng-model="SignupUser.email" type="text" class="form-control" value="" placeholder="email" required>
        </div>
        <div class="error">
            <span ng-show="SignupForm.$submitted && SignupForm.email.$error.required">Please enter your email</span>
            <span ng-show="SignupForm.$submitted && !SignupForm.email.$error.required && SignupForm.email.$error.email">Please enter your a valid email</span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="first_name" type="text" class="form-control" ng-model="SignupUser.first_name" placeholder="firstname" required>
        </div>
        <div class="error">
            <span ng-show="SignupForm.$submitted && SignupForm.first_name.$error.required">Please enter your firstname</span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="last_name" type="text" class="form-control" ng-model="SignupUser.last_name" placeholder="lastname" required>
        </div>
        <div class="error">
            <span ng-show="SignupForm.$submitted && SignupForm.last_name.$error.required">Please enter your lastname</span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="mobile" type="text" class="form-control" ng-model="SignupUser.mobile" placeholder="mobile" required>
        </div>
        <div class="error">
            <span ng-show="SignupForm.$submitted && SignupForm.mobile.$error.mobile">Please enter your phone number</span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input name="password" type="password" class="form-control passtype" ng-model="SignupUser.password" placeholder="password" required>
        </div>
        <div class="error">
            <span ng-show="SignupForm.$submitted && SignupForm.password.$error.required">Please enter your password</span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input name="password_confirmation" type="password" class="form-control passtype" ng-model="SignupUser.password_confirmation" placeholder="retypepassword" required>
        </div>
        <div class="error">
            <span ng-show="SignupForm.$submitted && SignupForm.password.$error.required">Please enter your password again</span>
            <span ng-show="SignupForm.$submitted && !SignupForm.password.$error.required && SignupUser.password != SignupUser.password_confirmation">Please enter your password again</span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-info" value="Register">
    </div>
</form>
