<section class="banner banner--fix clear-fix" ng-controller="HomeCtrl">
    <div class="main_picture">
        <div class="main_picture_content">
            <div class="bx-wrapper">
                <div  class="bx-viewport">
                    <div class="bx-viewport">
                        <ul id="bxslider" class="bxslider" style="margin: 0px; padding: 0px; width: auto; position: relative;">
                            <li>
                                <img alt="enjoy-weeloy-booking-experience" style=" width:100%" src="{% if data.is_mobile == false %}images/home_picture/banner/Dining-Out.jpg{% else %}images/home_picture/banner/Dining-Out.jpg{% endif %}" alt='weeloy fun rewarding'>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-image">
            <div> <h3 class="title_home_page"><span>Book a Restaurant & Win</span><br><span>It’s FREE</span></h3></div>
            <div  class="custom_fosrm_search_bar" style="bottom: 0;margin-top:0px">
                <div style="bottom: 0;margin-top:0px;" class="custom_fosrm_search_bar">
                    <form class="form-search" action="#" onsubmit="return submit_search_form();" method="GET" id="idFormsQuery" name="idFormsQuery" enctype="multipart/form-data">
                        <div class="input-group input-group-lg search-bar">
                           <div id="search-input-group">
                                <input class="form-control" id="restitle" name="restitle" placeholder="Restaurant name or Cuisine or Food" type="text" nf-search="/weeloy_ext1/api/search/fulltext"/>
                                <div id="auto_correct" ng-show="showAutoCorrect">
                                    <div class="tt-menu">
                                        <div class="tt-dataset tt-dataset-title">
                                            <p class="search-box-header"><strong>Did you mean?</strong></p>
                                            <div class="tt-suggestion tt-selectable" ng-repeat="suggestion in suggestions" ng-bind="suggestion.title" ng-mouseover="AddTtCursorClass($event)" ng-mouseout="RemoveTtCursorClass($event)" ng-click="Suggestion_click(suggestion)"></div>
                                        </div>
                                        <div class="tt-dataset tt-dataset-cuisine"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="dd_city" class="input-group-addon search-drop">
                                <button type="button" data-toggle="dropdown" class="dropdown-toggle" style="height:23px;">
                                <span id="dropdown_title2">{% if data.active_city|default %}{[{data.active_city|title}]}{% else %}Singapore{% endif %}</span> <span class="caret"></span></button>                                
                                <ul class="dropdown-menu dropdown-menu-right" id="dropdownMenu2" role="menu">
                                    <li><a tabindex="-1" href="#" ng-click="SelectCity('Singapore')">Singapore</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="SelectCity('Bangkok')">Bangkok</a></li>
                                    <li><a tabindex="-1" href="#" ng-click="SelectCity('Phuket')">Phuket</a></li>
                                    <li style="z-index:99999"><a tabindex="-1" href="#" ng-click="SelectCity('Hong Kong')">Hong Kong</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                            <div id="submit_search_home" class="input-group-addon">
                                <span class="">Search</span>
                            </div>
                            <input type='hidden' name='userid' id='userid' value="{[{data.userbase64}]}">
                        </div><!-- /input-group -->

                        <!-- end new section -->
                    </form>
                    <div class="view-all-restaurant text-center"><a href='search/restaurant/{[{data.current_city|replace({" " : ""}) |lower}]}?restitle='id="view-all-restau" >View all restaurants in {[{data.current_city|title}]}</a></div>
                </div>
            </div> 
        </div>
    </div>
</section>
<div class="clear-fix background-gray"></div>
<section class="early_book_restaurant">
    <div class='container'>
        <h1 class='title_home_page' style=''>{[{data.best_wheels.title}]}</h1>
        <h2 class='sub_title_home_page'>{[{data.best_wheels.sub_title}]}</h2>


        {% if data.best_wheels.restaurants|default %}
            <div class='row media-images' >
                {% for restaurant in data.best_wheels.restaurants %}
                   {% include 'commun/vignette_restaurant.html.twig' %}  
                {% endfor %}
            </div>
        {% endif %}
   
    <div class="more-restaurant"><a href='search/restaurant/{[{data.current_city|replace({" " : ""}) |lower}]}?restitle=' id="more-restau" >+ more restaurants</a></div>
     </div>
</section>


<!--<section style='padding-bottom:10px; background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2aacd2, #428bca) repeat scroll 0 0'>-->
<section class="how-it-work">
    <div class='container'>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="title_home_page">How it works</h2>               
            </div>
        </div>
        <div class="row how-image" style='text-align: center;'>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> <img alt="weeloy-find-restaurant" src="images/home_picture/banner/find.png" alt="weeloy find select reataurant"> 
                <span class="title">Find & book a restaurant</span><br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> <img alt="weeloy-booking-process-step2" src="images/home_picture/banner/spin.png" alt="weeloy confirm booking"> 
                <span class="title">Spin the Wheel when you arrive at the restaurant</span><br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img alt="weeloy-spin-wheel" src="images/home_picture/banner/win.png" alt="weeloy get discount">
                <span class="title">Win a Reward Instantly & Enjoy your dining!</span><br>
            </div>
        </div>
        <div class="more-info"><a href='how-it-works' id="more-hiw">+ more info</a></div>
    </div>
</section>
<section class='available-mobile'>
<div class="text-center ">
  <h2 class='title-available-mobile'>
    Available on iOS and Android.
  </h2>
<div class="mobile-download-widget">
    <a class="mobile-picture-div" target="_blank" href="http://itunes.apple.com/app/id973030193">
      <img width="196" height="60" src="images/home_picture/app-store-badge_en.png" alt="Available on the App Store">
    </a>
    <a class="mobile-picture-div" target="_blank" href="https://play.google.com/store/apps/details?id=com.weeloy.client">
      <img width="196" height="60" src="images/home_picture/play-store-badge_en.png" alt="Get it on Google Play">
    </a>
</div>
</div>
</section>
{% if data.new_restaurants.restaurants|default %}
    <section class="early_book_restaurant">
        <div class='container'>
            <h2 class='title_home_page' >{[{data.best_wheels.title}]}</h2>
            <h2 class='sub_title_home_page' >{[{data.best_wheels.sub_title}]}</h2>
            <div class='row media-images' >
                {% for restaurant in data.new_restaurants.restaurants %}
                    {% include 'commun/vignette_restaurant.html.twig' %}  
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

<section class="media-event" style='padding-bottom:10px;'>
    <h3 class='title_home_page'>Highlight on restaurants events</h3>
    <h2 class='sub_title_home_page'>What's happening? Things to do? Things to taste?</h2>

    <div class="container">
        <div class="left custom-grid">
            <div class="design design-nav-1 col-md-4 col-sm -4 col-xs-12" rel='1' >
                <a href='restaurant/singapore/match'>
                    <article class="item-custom ribbon_holder">
                        <figure>
                            <img style='max-height:300px' src="https://static.weeloy.com/images/home_picture/home-events-match-ladies-night-small.jpg" alt="weeloy partner match restaurant event in singapore">
                        </figure>
                    </article>
                    <div class="design-nav" id='design-nav1'>

                    </div>
                </a>
            </div>
            <div class="design design-nav-1 col-md-4 col-sm -4 col-xs-12" rel='2' >
                <a href='restaurant/singapore/cafe-bar-gavroche'>
                    <article class="item-custom ribbon_holder">
                        <figure>
                            <img style='max-height:300px'  src="https://static2.weeloy.com/images/home_picture/home-events-gavroche-fly-me-to-france.jpg" alt="weeloy partner cafe gavroche event singapore">
                        </figure>
                    </article>
                    <div class="design-nav" id='design-nav2'>

                    </div>
                </a>
            </div>
            <div class="design design-nav-1 col-md-4 col-sm -4 col-xs-12" rel='3'>
                <a href='restaurant/singapore/sopra-cucina-bar'>
                    <article class="item-custom ribbon_holder">
                        <figure>
                            <img style='max-height:300px' src="https://static3.weeloy.com/images/home_picture/home-events-sopra-happy-hour-small.jpg" alt="weeloy partner sopra restaurant">
                        </figure>
                    </article>
                    <div class="design-nav" id='design-nav3'>

                    </div>
                </a>
            </div>

        </div>
    </div>
</section>