<div id="container-cancel" class="vignette review_vignette"style="position:center;padding-top: 20px;padding-left: 30px;padding-right: 30px;display:none;">
    <label class="header-text"><h3>Cancel Booking</h3></label>
        <div id="invite-alert-cancel"></div>
    <div id="confirm-conatiner"></div>
    <div class="survey-conatiner">
        <p style="color:#2AA8CF">Please select the reason for your cancel here. If you have more than one reason for cancellation, please tell us the main reason.*</p></br>                  <input type="hidden" id="survey" value="" />
        <input type="radio" name="cl-servey" value="Unable to attend on this date" onclick="reset_msg();"> Unable to attend on this date </br></br>
        <input type="radio" name="cl-servey" value="My Friend(s) cancelled our Date" onclick="reset_msg();"> My Friend(s) cancelled our Date </br></br>
        <input type="radio" name="cl-servey" value="I no longer want to dine at this Restaurant" onclick="reset_msg();"> I no longer want to dine at this Restaurant </br></br>
        <input type="radio" name="cl-servey" value=" I wish to change my Booking" onclick="reset_msg();">  I wish to change my Booking </br></br>
        <input type="radio" name="cl-servey" value="Other" onclick="reset_msg();" /> Other : <input id="othermsg" value="" type="text" name="other" /></br>
    </div>
    <button type="button" class="btncancel" onclick="getConfirmation();" />Cancel Booking</button>
    <button type="button" class="btnconfirmCancel" onclick="cancelConfirmation();" style="display:none;" />Confirm Cancel</button>

</div>