<div  class="row-fluid" >
    <button  id="{[{loop.index}]}" class="btn btn-facebook text-left fbshare"  for='{[{loop.index}]}' onclick="fbshare(this.id)"><i class="fa fa-facebook"></i> Share
        <input id="fbimage_logo_{[{loop.index}]}" class="fbimage_logo" for="{[{booking.wheelwin}]}" type="hidden" value ="asds" />
    </button> 
    <button id="twt-share" class="btn btn-twitter text-right twitte-share" name="{[{restaurant_info.internal_path}]}" value='{[{restaurant_info.title}]}' onclick="tws_click('twt-share')"><i class="fa fa-twitter"></i> Twitter
        <input class="fbimage_logo" type="hidden" for="{[{booking.wheelwin}]}" value ="{[{data.image_resto[restaurant_info.restaurant]}]}" />
    </button> 

</div>