<div class="section_menu_user">
    <div class="row">    
        <ul class="menu_user">
            <!--<li {% if twig_param.page.name == 'mydashboard' %}class="menu_selected"{% endif%}>
                <a href='mydashboard' id="member-menu-dashboard">Dashboard</a>
            </li>-->
            <li {% if twig_param.page.name == 'mybookings' %}class="menu_selected"{% endif%}>
                <a href='mybookings' id="member-menu-mybookings">Bookings</a>
            </li>
            <li {% if twig_param.page.name == 'myreviews' %}class="menu_selected"{% endif%}>
                <a href='myreviews' id="member-menu-myreviews">Reviews</a>
            </li>
            <li {% if twig_param.page.name == 'myaccount' %}class="menu_selected"{% endif%}>
                <a href='myaccount' id="member-menu-myaccount">Account</a>
            </li>
        </ul>
    </div>
</div>