{% include 'member/menu.html.twig' %}

<!-- Message notification banner -->
{#   {% if twig_param.session|default %}
       <div class="alert alert-{[{twig_param.session.type}]}" style="margin:40px 0px -40px 0px; padding: 9px 15px; border-radius: 0"><a href="#" class="close" data-dismiss="alert">&times;</a><strong></strong>{[{twig_param.session.message|raw}]}</div>
   {% endif %}#}
{% if data.message  %}
    <div class="alert alert-{[{data.message_type}]}" style="margin:40px 0px -40px 0px; padding: 9px 15px; border-radius: 0"><a href="#" class="close" data-dismiss="alert">&times;</a><strong></strong>{[{data.message|raw}]}</div>
{% endif %}

<!-- End Message notification banner -->
<div class="container">
    <div class="row">
        <div class="col-md-3 member_left_menu">
            <ul>
                <li>
                    <a href='mybookings&f=today'  id="member-mybooking-today">{%if  data.active_filter == 'today' %}<b>Today</b>{% else %}Today{% endif %}</a>
                </li>
                <li>
                    <a href='mybookings&f=coming' id="member-mybooking-coming">{%if data.active_filter =='' or data.active_filter == 'coming' %}<b>Coming Soon</b>{% else %}Coming Soon{%endif %}</a>
                </li>
                <li>
                    <a href='mybookings&f=past' id="member-mybooking-past">{%if data.active_filter == 'past' %}<b>Past bookings</b>{% else %}Past bookings{% endif %}</a>
                </li>
            </ul>
        </div>

        <div class="col-md-9  right_item" >
            <h3>{[{translate.your_bookings}]}</h3>
            {% for item in data.bookings|cast_to_array %}
                {% set booking = item|cast_to_array %}
                {% set restaurant_info = booking.restaurantinfo|cast_to_array %}
                <div class="vignette booking_vignette">
                    <input type='hidden' id='restaurant_id_{[{loop.index}]}' value='{[{restaurant_info.restaurant}]}'>
                     <input type="hidden" id="confirm_{[{loop.index}]}" for="{[{booking.bsConfirm}]}" value="{[{booking.bsBookid}]}" />
                    <div class="col-md-3 vignette_picture">
                        <a id="res_path_{[{loop.index}]}" href='{[{restaurant_info.internal_path}]}'>
                            <img id="img_logo_{[{loop.index}]}" for="{[{data.image_resto[restaurant_info.restaurant]}]}" src='{[{data.image_resto[restaurant_info.restaurant]}]}' />
                        </a>
                    </div>
                    <div class="col-md-6 infos">
                        <input type="hidden" class="confirmation_{[{loop.index}]}" id="{[{loop.index}]}" value="{[{booking.confirmation}]}"  for="{[{booking.email}]}" />
                        <h4 id="res_title_{[{loop.index}]}">{[{restaurant_info.title}]}</h4>
                        <p id="book_time_{[{loop.index}]}">{[{booking.rdate|date("F jS Y")}]} at {[{ booking.rtime|date("g:ia")}]}</p>
                        <p>Covers: {[{booking.cover}]}</p>
                    </div>
                    <div class='col-md-3 action_controls' style="padding:0">

                        <div style='padding: 15px;text-align:center; ' class='spin_wheel_info'>
                            {% if  booking.is_bookable and not booking.wheelwin|length%}
                                <a target='_blank' href='wheel/rotation/rotation_always_ndb.php?confirmation={[{booking.confirmation}]}&membCode={[{booking.membcode}]}&guestname={[{booking.firstname}]}' >Spin the wheel</a>
                            {% else  %}
                                {% if not booking.wheelwin|length%}
                                    {[{booking.wheelwin}]}
                                {% endif%}
                            {% endif%}
                        </div>
                        <div id="booking_status_{[{loop.index}]}" for="{[{booking.status}]}" style='padding: 15px;text-align:center; ' class='spin_wheel_info'>
                            {% if data.active_filter =='' or data.active_filter == 'coming' or data.active_filter == 'today' %}
                                {% if booking.status =='cancel' %}
                                    <span  class="text-default" style=" color: #778;" >Booking cancelled</span>
                                {% else %}
                                    {% if not booking.wheelwin|length%}
                                        {# value="modules/manage_booking/visitcancel.php?confirmation={[{booking.confirmation}]}#}
                                        <span class="cancelbtn" >Cancel
                                            <input type="hidden"  value="{[{loop.index}]}" />
                                        </span>
                                        {# <a target='_blank' href='modules/manage_booking/visitcancel.php?confirmation={[{booking.confirmation}]}'>Cancel</a>#}
                                    {% endif %}
                                {% endif %}

                            {% else %}
                                {[{booking.wheelwin}]}
                            {% endif%}
                        </div>

                        <div style='margin-left:25px;padding: 15px;text-align:center;' class='spin_wheel_info'>
                            {% if  booking.wheelwin|length and not booking.canViewReview|length %}
                                <button type="button" class="btn btn-blue btn-review" value="{[{loop.index}]}" >Review Now</button>
                                {# <a href='myreviews?b={[{booking.confirmation}]}' id="member-mybooking-reviews">Review Now</a>#}
                            {% else %}
                                {% if booking.canViewReview ==true %}
                                    <a href='myreviews&f=past' id="member-mybooking-reviews">
                                    <span title="reviewScore:{[{booking.reviewGrade}]}" class='reviews {[{booking.reviewGrade | get_review_class}]}'></span>
                                    </a>


                                    {# {[{booking.foodgrade}]} stars#}
                                {%endif%}
                            {% endif%}
                        </div>
                        {% if data.active_filter =='' or data.active_filter == 'coming' or data.active_filter == 'today' %}
                            {% if booking.status !='cancel' %}
                               
                                <button title="Invite your friends on facebook and gmail" class="btn custom_button social" name="" value='{[{booking.bookid}]}'>Invite Friends
                                    <input class="fbimage_logo" for ="{[{loop.index}]}" type="hidden" value ="" />
                                </button>
                            {% else %} 
                                {% include 'member/_sharefbtw.html.twig' %} 
                            {% endif %}
                        {% else %}
                            {% if booking.wheelwin!="" %}
                                {% if booking.status !='cancel' %}
                                    {% include 'member/_sharefbtw.html.twig' %} 
                                {% endif %}
                            {% endif %}
                        {% endif %}

                    </div> 
                </div>
            {% else %}
                <div class="infos">
                    <label>No booking available</label>
                </div>
            {% endfor %}
            {# social networ invite columns start #}
            {% include 'member/_invitecontainer.html.twig' %} 
            {# end --- social network invite columns---  #}

            {# start cancel booking survey part #}
            {% include 'member/_cancelcontainer.html.twig' %} 
            {# start  Create Review Part #}
            {%include 'member/_reviewcontainer.html.twig' %}
        </div>

    </div>
</div>
<script type="text/javascript" src="https://apis.google.com/js/client.js" ></script>

<script src="js/jRating.jquery.js"></script>	

<style>
    .custom_button {
        background: #2AA8CF none repeat scroll 0% 0%;
    }
    .formSubmit{
        float:right;
    }
    .hd-style {
        display: block !important;
        padding: 10px 0px !important;
        padding-left: 80px;
        border-bottom: 1px #bababa solid !important;
        margin-left: 2px;
        text-align: center;

    }
    #btn-close{
        float:right;
    }
    input[type="text"] {
        width: 80%;
        height: 25%;
        margin-bottom:8px;
    }
    .in-list ,.in-closelist{
        margin-left:10px;
    }
    strong {
        text-align: center;
        font-size: 16px;
    }
    .txt-conatiner{
        margin-left: 80px;
        margin-bottom: 10px;
        padding: 10px 0px !important;

    }
    .btnfg {
        margin-left: 30px;
        width: 50%; 
        height:40%; 
        margin: 0 auto;

    }
    .other-txt {
        width: 60%; 
        margin-bottom: 10px;
        text-align: right;
    }
    input[type="radio"]  {
        display:inline-block;

        margin:-1px 6px 0 0;
        cursor:pointer;
    }

    .header-text{
        width:100%;
        height:10%;
        margin-top: 0px;
        text-align:center;
        border-bottom: 1px #bababa solid !important;

    }
    .survey-conatiner{
        width:80%;
        height:50%;
        margin-top: 0px;
        margin-bottom :20px;
        margin-left:40px;
    }
    .btncancel,.btnconfirmCancel{
        margin-left: 30px;
        float:right;
    }
    #err-msg{
        margin-left:65px;
        margin-bottom:20px;
        color:#a94442 !important;

    }
    #invite-alert,#invite-alert-cancel{
        margin-left:40px;
        margin-bottom:20px;  
    }
    .error-msg {
        color: #a94442 !important;
        background-color: #f2dede;
        border-color: #ebccd1;
        padding-left:2%;
        padding-bottom:1%;
        padding-top:1%;
    }
    .success-msg {
        color: #3c763d !important;
        background-color: #dff0d8;
        border-color: #d6e9c6;
        padding-left:2%;
        padding-bottom:1%;
        padding-top:1%;
    }
    //review bullet
    .review-text {
        line-height: 15px;
        overflow: hidden;
        color: #444444;
        padding: 3px 0 3px 7px;
        text-align: left;
        font-family: 'proximanova';
    }


    .reviews{
        display: block;
        min-height: 16px;
        width: 80px;
    }

    .review-05{
        background: rgba(0, 0, 0, 0) url('images/grey_bullets_sprite_small.png') no-repeat scroll 1px 1px;
    }
    .review-10{
        background: rgba(0, 0, 0, 0) url('images/grey_bullets_sprite_small.png') no-repeat scroll -124px 1px;
    }
    .review-15{
        background: rgba(0, 0, 0, 0) url('images/grey_bullets_sprite_small.png') no-repeat scroll 1px -26px;
    }
    .review-20{
        background: rgba(0, 0, 0, 0) url('images/grey_bullets_sprite_small.png') no-repeat scroll -124px -26px;
    }
    .review-25{
        background: rgba(0, 0, 0, 0) url('images/grey_bullets_sprite_small.png') no-repeat scroll 1px -52px;
    }
    .review-30{
        background: rgba(0, 0, 0, 0) url('images/grey_bullets_sprite_small.png') no-repeat scroll -124px -52px;
    }
    .review-35{
        background: rgba(0, 0, 0, 0) url('images/grey_bullets_sprite_small.png') no-repeat scroll 1px -79px;
    }
    .review-40{
        background: rgba(0, 0, 0, 0) url('images/grey_bullets_sprite_small.png') no-repeat scroll -124px -79px;
    }
    .review-45{
        background: rgba(0, 0, 0, 0) url('images/grey_bullets_sprite_small.png') no-repeat scroll 1px -106px;
    }
    .review-50{
        background: rgba(0, 0, 0, 0) url('images/grey_bullets_sprite_small.png') no-repeat scroll -124px -106px;
    }




</style>
<script type="text/javascript">

    /***************************************************/
    //facebook and twitter share 
    /****************************************************/
    function fbsend() {
        var id = $("#fb_data").attr('for'),
                bookId = $("#confirm_" + id).val(),
                confirmId = $("#confirm_" + id).attr('for');

        var link = "{[{data.fb_link}]}" + bookId + "&rd=" + confirmId;
        console.log(link);
        var obj = {
            method: 'send',
            link: link,
            picture: $("#fb_data").attr('name'),
            name: $("#fb-data").attr('for'),
            display: 'iframe'
        };
        FB.ui(obj, function (response) {
//                $("#feedform_user_message").html('2323232');
            console.log(JSON.stringify(response));
        });
        return false;
    }

    function tws_click(data) {
        var twtTitle = $("#" + data).attr('value'),
                twtUrl = "https://www.weeloy.com/" + $("#" + data).attr('name'),
                maxLength = 140 - (twtUrl.length + 1),
                twtLink = 'http://twitter.com/home?status=' + encodeURIComponent(twtTitle + ' ' + twtUrl);
        window.open(twtLink, "_blank",
                "toolbar=yes, scrollbars=yes, resizable=no, width=600, height=400");

    }
    function fbshare(ele) {
        var id = ele, description, caption,method,link;
        var status = $("#booking_status_" + id).attr('for');
        var time =$("#book_time"+id).text(),
         bookId = $("#confirm_" + id).val(),
                confirmId = $("#confirm_" + id).attr('for');
      
             console.log("{[{data.google_id}]}" + bookId + "&rd=" + confirmId);
        if (status === 'cancel') {
             link = "{[{data.fb_link}]}" + bookId + "&rd=" + confirmId;
            method="send";
            description = "I’m sorry to withdraw my dining invitation on " + time + " @ " + $("#res_title_" + id).text() + " #weeloy.Have a great day ahead!";  
            caption = "Booking Cancel " + "@ " + $("#res_title_" + id).text();
            var obj = {
                method: method,
                link: link,
                picture: $("#img_logo_" + id).attr('for'),
                name: $("#res_title_" + id).text(),
                display: 'iframe'
             };
        } else { 
            method="feed";
            link = "https://www.weeloy.com/" + $("#res_path_" + id).text();
            description = "I’ve just WON " + $("#fbimage_logo_" + id).attr('for') + "food when I dine at " + $("#res_title_" + id).text() + " Join me & make a reservation on Weeloy.com to enjoy more dining rewards.";

            caption = $("#fbimage_logo_" + id).attr('for') + " @ " + $("#res_title_" + id).text();
            var obj = {
                method: method,
                link: link,
                picture: $("#img_logo_" + id).attr('for'),
                name: $("#res_title_" + id).text(),
                caption: caption,
                description: description,
                display: 'popup'
        };
        }
        
        FB.ui(obj, function (response) {
        });
        //return false;
    }

    /***************************************************/
    //cancel  ajax api post
    /****************************************************/
    //cancel form validation
    function getConfirmation() {

        var msg = "Please select the main reason for your cancellation.!!",
                id = $("#survey").val(),
                confirmation = $('#' + id).val(),
                userEmail = $('#' + id).attr('for'),
                confUrl = "api/confirmation/" + confirmation + "/" + userEmail,
                survey = $("input[type='radio'][name='cl-servey']:checked").val();
      

        if (typeof survey === 'undefined') {
            $("#invite-alert-cancel").addClass('error-msg');
            $("#invite-alert-cancel").text(msg);
            close_msg();
            //$("#err-msg").text(msg);
            return false;
        }

        if (survey === 'Other') {
            if ($("#othermsg").val() == "") {
                $("#invite-alert-cancel").addClass('error-msg');
                $("#invite-alert-cancel").html(msg);
                close_msg();
                return false;
            }
            else {
                survey = $("#othermsg").val();
            }

        }
        $.ajax({
            url: confUrl,
            dataType: "json",
            type: "GET",
            data: {},
            success: function (res) {

                var confirmationid = res.data.booking,
                        title = res.data.resto,
                        email = res.data.email;
                if (res.status == '1') {
                    $(".survey-conatiner").css('display', 'none');
                    $(".btncancel").css('display', 'none');
                    $(".btnconfirmCancel").css('display', 'block');
                    var result = "<ul>";
                    result += "<input type='hidden' id='op-surey' value='" + survey + "' for='" + res.data.email + "'/>";
                    result += "<li>&nbsp; Restaurant : <span id='res_title'>" + title + "</span></li></br>";
                    result += "<li>&nbsp; Confirmation : <span id='res_confirmid'>" + confirmationid + "</span></li></br>";
                    result += "<li>&nbsp; Date : " + res.data.date + "</li></br>";
                    result += "<li>&nbsp; Time : " + res.data.time + "</li></br>";
                    result += "<li>&nbsp; Number of guests : " + res.data.pers + "</li></br>";
                    result += "</ul>";
                    $("#confirm-conatiner").html(result);
                }

            },
            complete: function () {
            }
        });
        return false;

    }
    function cancelConfirmation(confirmation, title, userEmail) {
        var confirmation = $("#res_confirmid").text(),
                title = $("#res_title").text(),
                userEmail = $("#op-surey").attr('for');

        var url = 'api/visit/cancel/' + title + '/' + confirmation + '/' + userEmail;

        $.ajax({
            url: url,
            context: $(this),
            dataType: "json",
            type: "POST",
            data: {
                reason: $("#op-surey").val(),
                restaurant: title,
                confirmation: confirmation,
                email: userEmail
            },
            success: function (data) {

                if (data.data === "OK") {
                    window.location.reload();
                }
                else if (data.data === "FAIL") {
                    $("#invite-alert-cancel").addClass('error-msg');
                    $("#invite-alert-cancel").html(data.errors);
                    close_msg();

                    return false;
                }

            },
            error: function (data) {
                if (data.data === "FAIL") {
                    $("#invite-alert-cancel").addClass('error-msg');
                    $("#invite-alert-cancel").html(data.errors);
                    //$("#err-msg").text(data.errors);
                    return false;
                }
                window.location.reload();


            },
            complete: function () {
            }
        });
        return false;
    }
    /***************************************************/
    //comman javascript
    /****************************************************/

    function reset_msg() {
        document.getElementById('invite-alert-cancel').innerHTML = '';
        $("#invite-alert-cancel").removeClass();
    }
    function close_msg() {
        setTimeout(function () {
            $('#invite-alert').fadeOut('slow');
            $("#invite-alert-cancel").fadeOut('slow');
        }, 10000); // <-- time in milliseconds  
    }
    /***************************************************/
    //Get email from gmail
    /****************************************************/

    //google api for import contacts
    var appId = "{[{data.google_id}]}",
            appKey = "{[{data.google_key}]}",
            impContactScope = 'https://www.googleapis.com/auth/contacts.readonly',
            impContactUrl = 'https://www.google.com/m8/feeds/contacts/default/full?alt=json&max-results=250';

    function gApiRequest() {
        var request = gapi.client.urlshortener.url.get({
            'shortUrl': 'http://goo.gl/fbsS'
        });
        request.then(function (response) {
        }, function (reason) {
            console.log('Error: ' + reason.result.error.message);
        });
    }
    function gApiContacts() {
        var config = {
            'client_id': appId,
            'scope': impContactScope
        };
        gapi.auth.authorize(config, function () {

            var authParams = gapi.auth.getToken();
            authParams.alt = 'json';
            if (typeof authParams['g-oauth-window'] !== "undefined") {
                delete authParams['g-oauth-window'];
            }
            $.ajax({
                url: impContactUrl,
                dataType: 'jsonp',
                data: authParams,
                success: function (result) {

                    var entries = result.feed.entry, email = [], contactEntry, email = '', results = '';

                    if (entries && entries.length > 0) {
                        $(".form-horizontal").css('display', 'none');
                        for (var i = 0; i < entries.length; i++) {
                            if (typeof entries[i] !== "undefined") {

                                if (typeof entries[i].gd$email !== "undefined") {
                                    if (typeof entries[i].gd$email[0] !== "undefined") {
                                        if (typeof entries[i].gd$email[0].address !== "undefined") {
                                            email = entries[i].gd$email[0].address;
                                            if (typeof email !== "undefined") {
                                                results += "<div class='checkbox col-md-6'><label><input type='checkbox' name='email[]' value='" + email + "' />" + email + "</label></div>";
                                            }

                                        }
                                    }
                                }
                            }
                        }//ended for loop
                        $(".exportContact").html(results);
                        $("#btn-close").css('display', 'block');
                        var len = $(".checkbox").find('label').length;
                        if (len > 0) {
                            $(".formSubmit").css('display', 'block');
                            $(".checkprop").css('display', 'block');


                        }
                    }
                }
            });
        });
    }


    $(document).ready(function () {
        $(".sliders").jRating({
            step: true,
            length: 5,
            canRateAgain: true,
            showRateInfo: false,
            nbRates: 5,
            onClick: function (element, rate) {

                $('#msg').html(rate);

            }
        });
        /***************************************************/
        //ajax api post for invite friends via email
        /****************************************************/

        function invitemails(url, emails, bookid) {
            $.ajax({
                url: url,
                context: $(this),
                dataType: "json",
                type: "POST",
                data: {
                    emails: emails,
                    bookid: bookid,
                },
                success: function (data) {
                    if (data) {
                        if (data.data === 'OK') {
                            $('input[name="email[]"]').val('');
                            $("#invite-alert").addClass('success-msg');
                            $("#invite-alert").html(data.errors);
                            close_msg();

                        } else {
                            $("#invite-alert").addClass('error-msg');
                            $("#invite-alert").html(data.errors);
                            close_msg();
                        }
                    }
                },
                error: function (data) {
                    $("#invite-alert").addClass('error-msg');
                    $("#invite-alert").html(data.errors);
                    close_msg();
                },
                complete: function () {
                }
            });
        }

        $(".formSubmit").bind('click', function () {

            var emails = $('input[name="email[]"]:checked').map(function () {
                return this.value
            }).get();
            var bookid = $('.form-gmailform').find('.bookid').val(),
                    url = 'api/invitemail/other';
            invitemails(url, emails, bookid);
            //alert(emails);
        });

        $(".invite").bind('click', function () {
            var emails = $('input[name="email[]"]').map(function () {
                return this.value
            }).get();
            //invitemail/other
            var url = 'api/invitemail/other',
                    bookid = $(this).find('.bookid').val();
            invitemails(url, emails, bookid);

        });

        /***************************************************/
        //add and remove textbox 
        /****************************************************/
        //checkbox toggle function

        $(document).on('click', '#btn-list .in-list', function () {
            var id = $("#btn-list").find('input').size() + 1;
            var html = '<input type="text" id="li-' + id + '" name="email[]" placeholder="keyin your friends email address" /><i id="' + id + '" class="in-list fa fa-plus-square fa-lg"></i> ';
            if ($("#btn-list").find('input').size() === 1) {
                $(this).remove();
            } else {
                $(this).removeClass('in-list fa fa-plus-square fa-lg').addClass('in-closelist fa fa-times-circle fa-lg');
            }
            $(".txt-conatiner").append(html);
        });
        $(document).on('click', '#btn-list .in-closelist', function () {
            var id = $("#btn-list").find('input').size() + 1;
            $("#li-" + $(this).attr('id')).remove();
            $(this).remove();

        });
        /***************************************************/
        //check all and uncheck all 
        /****************************************************/
        $('#btncheck').click(function () {

            if ($(this).hasClass('checkprop')) {
                $('input[type="checkbox"]').prop('checked', true);
                $(this).html('Uncheck All');
                $(this).removeClass('btn btn-sm-8 checkprop').addClass('btn btn-sm-8 uncheckprop');

            } else if ($(this).hasClass('uncheckprop')) {

                $('input[type="checkbox"]').prop('checked', false);
                $(this).html('Check All');
                $(this).removeClass('btn btn-sm-8 uncheckprop').addClass('btn btn-sm-8 checkprop');
            }


        });
        /***************************************************/
        //invite Gmail close button click function
        /****************************************************/

        $("#btn-close").bind('click', function () {
            $(".checkbox").remove();
            $("#btn-close").css('display', 'none');
            $("#btncheck").css('display', 'none');
            $(".formSubmit").css('display', 'none');
            $(".form-horizontal").css('display', 'block');
        });

        $(".form-horizontal").css('display', 'block');

        var $elem = $('.main_container');

        /***************************************************/
        //Invite  Container Toggle function
        /****************************************************/
        $("#desc").css('display', 'none');

        $(".social").on('click', function () {
            var WH = $(window).height(),
                    SH = $('body')[0].scrollHeight;
            $('html, body').stop().animate({scrollTop: SH - WH}, 1000);

            $(".form-horizontal").css('display', 'block');
            $(".bookid").val('');
            $(".bookid").val($(this).val());

            $("#fb_data").attr('for', $(this).find('.fbimage_logo').attr('for'));
            $("#container-cancel").css('display', 'none');
             $(".review-container").css('display','none');
            $("#desc").css('display','block');
        });


        /***************************************************/
        //Cancel Container Toggle function
        /****************************************************/

        $("#container-cancel").css('display', 'none');
        $(".cancelbtn").bind('click', function () {
             $("#container-cancel").css('display','none');
            var WH = $(window).height(),
                    SH = $('body')[0].scrollHeight;
            $('html, body').stop().animate({scrollTop: SH - WH}, 1000);
            $(".review-container").css('display','none');
            $("#desc").css('display','none');
            $("#container-cancel").css('display','block');
             
            //$("#container-cancel").toggle();
            var id = $(this).find('input').val();
      
            $("#survey").val(id);
        });
        /***************************************************/
        //review Container Toggle function
        /****************************************************/

        $(".btn-review").bind('click', function () {
            $(".review-container").css('display','none');
            var WH = $(window).height(),
                    SH = $('body')[0].scrollHeight;
            $('html, body').stop().animate({scrollTop: SH - WH}, 1000);
            $("#desc").css('display','none');
            $("#container-cancel").css('display','none');
            $(".review-container").css('display','block');
            var id = $(this).val();

            var path = $("#res_path_" + id).attr('href'),
                    imglogo = $("#img_logo_" + id).attr('for');
            $("#review_interPath").attr('href', path);
            $("#res_title_review").text($("#res_title_" + id).text());
            $("#bk-dt").text($("#book_time_" + id).text());
            $("#review_interPath").find('img').attr('src', imglogo);
            $(".btn_submit_review").attr('id', id);

        });



        //fb sdk 
        window.fbAsyncInit = function () {
            FB.init({
                appId: "{[{data.facebook_id}]}", //weeloy localhost fb appId
                status: true,
                cookie: true,
                xfbml: true
            });
        }; //end fbAsyncInit

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document)); //end loadSDF
    });

</script>
<script>


    $(function () {

        $('body').on('click', '.btn_submit_review', function () {
            var id = $(this).attr('id');
   

            var confirmation_id = $('.confirmation_' + id).val();

            var user_id = $('.confirmation_' + id).attr('for');
            var restaurant_id = $('#restaurant_id_' + id).val();
            var food_rate = $('#text_slider_food').val();
            var ambiance_rate = $('#text_slider_ambiance').val();
            var service_rate = $('#text_slider_service').val();
            var price_rate = $('#text_slider_price').val();
            var comment = $('#review_comment').val();

            $.ajax({
                url: 'api/review',
                context: $(this),
                dataType: "json",
                type: "POST",
                data: {
                    action: 'post_review',
                    confirmation_id: confirmation_id,
                    user_id: user_id,
                    restaurant_id: restaurant_id,
                    food_rate: food_rate,
                    ambiance_rate: ambiance_rate,
                    service_rate: service_rate,
                    price_rate: price_rate,
                    comment: comment
                },
                success: function (data) {
                    window.location.reload();

    {#$('#vignette_' + id).animate({"height": 0, "opacity": 0}, 500, function () {
        $('#vignette_' + id).hide();
        $('#success').show();
        setTimeout(function () {
            $('#success').animate({"opacity": 0}, 500, function () {
                $('#success').hide();
            });
        }, 2000);
        $('#success').css({"opacity": 1});
    });#}

                                    },
                                    complete: function () {

                                    }
                                });
                                return false;
                            });

                        });

</script>
