<section class="content-sec search-section" style=" margin-top: 40px;" caculate-map-content-maxheight>
    <div class="main-container" ng-controller="SearchCtrl">
        <div class="row-fixed" style="background-color:#efefef;{% if data.is_mobile == false %}width:70%; {% else %}width:100%{% endif %} float:left" >
            <div id="expand-map-content">
                <div>
                    <span class="glyphicon glyphicon-arrow-left" ng-class="(showExpand) ? '' : 'map-arrow-rotate'" ng-click="ExpandMap()"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div id='search_bar_div' style='padding:10px 0px;' class=''>
                    <div class="input-group input-group-lg search-bar-search">
                        <div id="search-input-group">
                            <input class="form-control search-input" 
                                name="restitle" 
                                placeholder="Restaurant name or Cuisine or Food" 
                                aria-label="..." 
                                type="text" 
                                ng-keyup="SearchInputKeyup($event)"
                                ng-model="free_search"
                                nf-search
                            />
                            <div id="auto_correct" ng-show="showAutoCorrect">
                                <div class="tt-menu">
                                    <div class="tt-dataset tt-dataset-title">
                                        <p class="search-box-header"><strong>Did you mean?</strong></p>
                                        <div class="tt-suggestion tt-selectable" ng-repeat="suggestion in suggestions" ng-bind="suggestion.title" ng-mouseover="AddTtCursorClass($event)" ng-mouseout="RemoveTtCursorClass($event)" ng-click="Suggestion_click(suggestion)"></div>
                                    </div>
                                    <div class="tt-dataset tt-dataset-cuisine"></div>
                                </div>
                            </div>
                        </div>
                        <div id="dd_city" class="input-group-addon search-drop search-drop-search">
                            <button type="button" data-toggle="dropdown" class="dropdown-toggle" style="height:23px;">
                                <span id="dropdown_title2">{% if data.active_city|default %}{[{data.active_city|title}]}{% else %}Singapore{% endif %}</span> <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right" id="dropdownMenu2" role="menu">
                                <li ng-click="SelectCity('Singapore')"><a tabindex="-1" href="#">Singapore</a></li>
                                <li ng-click="SelectCity('Bangkok')"><a tabindex="-1" href="#">Bangkok</a></li>
                                <li ng-click="SelectCity('Phuket')"><a tabindex="-1" href="#">Phuket</a></li>
                                <li ng-click="SelectCity('Hong Kong')" style="z-index:99999"><a tabindex="-1" href="#">Hong Kong</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <div  id="submit_search" class="input-group-addon" style="height:23px;border-radius:0px 2px 2px 0px;">
                            <span ng-click="go_search()" class="">Search</span>
                        </div>
                        <input type='hidden' name='user'  id='user' value="{[{data.userbase64}]}">
                        <input type='hidden' name='is_mobile'  id='is_mobile' value="{[{data.is_mobile}]}">
                    </div><!-- /input-group -->

                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="search-filter" ng-class="(expandCuisineFilter) ? 'searchFilterHeight' : ''">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="filter-title col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <span>Filters</span>
                        </div>
                        <div class="filter col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <select ng-change="filter(cuisineArray, cityFilter, pricing)" name="citiesArray" ng-options="cityFilter as cityFilter.name for cityFilter in citiesArray" ng-model="cityFilter"></select>
                            <div class="inner-icon">
                                <span class="fa fa-map-marker"></span>
                            </div>
                        </div>
                        <div class="filter col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <select ng-change="filter(cuisineArray, cityFilter, pricing)" name="pricingArray" ng-options="pricing as pricing.name for pricing in pricingArray" ng-model="pricing"></select>
                            <div class="inner-icon">
                                <span class="fa fa-dollar"></span>
                            </div>
                        </div>
                    </div>
                    <div id="cuisine-group" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="cuisine-title col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <p>Cuisine</p>
                        </div>
                        <div class="padding_0 col-lg-10 col-md-10 col-sm-10 col-xs-12">
                            <div id="main-cuisine">
                                <div class="cuisine main-cuisine col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="cuisine in cuisineArray.cuisineListShow" resize-filter>
                                    <div class="cuisine-panel" ng-click="changeCuisineFilter(cuisine, $event)">
                                        <input type="checkbox" ng-click="changeCuisineFilter(cuisine, $event)" ng-model="cuisine.selected" id="cuisine-{{ $index }}">
                                        <label for="cuisie-{{ $index }}" ng-bind="cuisine.cuisine"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse" id="cuisineCollapse">
                                <div class="cuisine col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="cuisine in cuisineArray.cuisineListCollapse" resize-filter>
                                    <div class="cuisine-panel" ng-click="changeCuisineFilter(cuisine, $event)">
                                        <input type="checkbox" ng-click="changeCuisineFilter(cuisine, $event)" ng-model="cuisine.selected" id="cuisine-{{ $index }}">
                                        <label for="cuisie-{{ $index }}" ng-bind="cuisine.cuisine"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="applyFilter" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="(expandCuisineFilter) ? 'applyFilterFixBottom' : ''">
                        <div class="padding_0 col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-12">
                            <div id="applyFilterBtn" class="pull-right filterButton" ng-click="ApplyFilter()">
                                <span>Apply</span>
                            </div>
                            <div id="clearFilterBtn" class="pull-right filterButton" ng-click="ClearFilter()">
                                <span>Clear</span>
                            </div>
                            <div id="moreFilter" 
                                class="pull-left filterButton"
                                data-toggle="collapse" 
                                href="#cuisineCollapse" 
                                aria-expanded="false" 
                                aria-controls="cuisineCollapse" 
                                ng-show="expandCuisineFilter != undefined" 
                                ng-click="expandCuisineFilter = !expandCuisineFilter">
                                <span>More Cuisines</span>
                                <i class="fa fa-caret-down" ng-class="(expandCuisineFilter) ? 'rotate' : ''"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="main_content">
                <div class="container" id="result_search" {% if data.is_mobile == false %}style='width:100%;'{% else %}style='width:100%;'{% endif %} >
                        <div ng-if="no_result" class='row'>
                            
                            <h2 style='color:#AAA;font-size: 24px;'>No restaurant found. Please, try another search.</h2>      
                        </div>
                    <div class="col-md-12 custom_img" style="padding-left: 0px; padding-right: 0px;">
                        <div class='row'>
                            <div class='three_border'>
                              <div ng-repeat="restaurant in restaurantAr | limitTo : 12"  ng-include=" '../../templates/commun/vignette_restaurant.angular.html.twig' " ng-cloak >	
                                </div>
                            </div>
                        </div>
                        <div class='row' ng-show="showNoResultAlert">
                            <h2 style='color:#AAA;font-size: 24px;'>No restaurant found. Please, try another search.</h2>      
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <section>
                    <div style='text-align:center'>
                        <ul class="pagination" ng-hide="hidePagination">
                            <li ng-if="!hidePrev" >
                                <a href="#" aria-label="Previous">
                                    <span  ng-click="previous()" aria-hidden="true"><</span>
                                </a>
                            </li>
                            <li ng-repeat="pageNum in pageNumbers track by $index" 
                                ng-class="{active: pageNum == currentPage}"
                                ng-click="setPage(pageNum-1)">
                                <a  href="#">{{pageNum}}</a>
                            </li>
                            <li ng-if="!hideNext" >
                                <a href="#" aria-label="Next">
                                    <span  ng-click="next()" aria-hidden="true">></span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </section>
		<section class='final_box' ng-cloak>
                        <div class='row'>
                            <div class='col-md-10 fix_center'>
                                <div class='col-md-6 col-sm-6 center_fix'>
                                    <a ng-click="go_restaurant(restaurantShowCase.restaurant)" href="" {%if  data.is_mobile == false %} target="_blank" {% endif %} >
                                        <img style='max-width:100px; position:absolute;top:-20px;left:-20px;' ng-src="https://media.weeloy.com/upload/wheelvalues/wheelvalue_{{restaurantShowCase.wheelvalue}}.png" alt=""/>
                                        <img ng-src="https://media.weeloy.com/upload/restaurant/{{restaurantShowCase.restaurant}}/{{restaurantShowCase.images[0]}}" />

                                        <span class='final_round'>  </span>
                                    </a>   
				
                                </div>
                                <div class='col-md-6 col-sm-6'> 
                                    <div class='over'>
                                        <center><h1><a> {{restaurantShowCase.title}} </a></h1> </center>
                                        <p class='sec_text'>{{restaurantShowCase.cuisine}} </p>
                                        <p class='dummy'>{{restaurantShowCase.description[0].title}}</p>
                                        <p class='dummy'>{{restaurantShowCase.description[0].body[0]}}</p>
                                            <div class='book'>
                                                <button ng-if="restaurantShowCase.status=='active'" id='btn_book' class='btn custom_button {{restaurantShowCase.book_button.style}}' ng-href="" ng-click="go(restaurantShowCase.restaurant, restaurantShowCase.title);">{{restaurantShowCase.book_button.text}}</button>
                                                <button ng-if="restaurantShowCase.status=='comingsoon'"  id='btn_book' class='btn custom_button {{restaurantShowCase.book_button.style}}'>{{restaurantShowCase.book_button.text}}</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>	
	
        </div>
    </div>
    
	{% if data.is_mobile == false %}
			<div id="map-content" class="affix" style="position: fixed; right: 0;width: 30%; height:100%; margin-bottom: 0px; top: 40px;">
            <div id='map-canvas' class='map-canvas'></div>
        </div>
    {% endif %}
</div>

</section>


{% if data.is_mobile == false %}

    <script type="text/javascript">
	
        function loadmap() {
			
         
            $("a.pinme").on('mouseover', function () {
                var id = $(this).attr('rel');
                changeMarker(id, image_over, 230000);
            });
            $("a.pinme").on('mouseout', function () {
                var id = $(this).attr('rel');
                changeMarker(id, image_init, 1);
            });
            function changeMarker(record_id, img, zindex) {
                for (i in Markers) {
                    if (Markers[i].record_id == record_id) {
                        Markers[i].setZIndex(zindex);
                        Markers[i].setIcon(img);
                    }
                }
            }
			
			
        }
		
    </script>
{% endif %}
