<section class="header-container">
    <div class="main_picture">
        <div class="header-image">
            <div class="text-center title_home_page">
                <h1 ng-bind="Str.homepage.HeaderTitle"></h1>
                <p ng-bind="Str.homepage.HeaderSubTitle"></p>
            </div>
            <div class="custom-form-search-bar container">
                <nf-search class="col-lg-12 col-md-12 col-sm-12 col-xs-12" cities="cities"></nf-search>
                <div class="view-all-restaurant text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="/weeloy_ext1/angular-client/search" ng-bind="Str.homepage.ViewAllRestaurant"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="early_book_restaurant">
    <div class="container">
        <h1 class="title_home_page text-center" ng-bind="Str.homepage.BestWheelTitle"></h1>
        <h2 class="sub_title_home_page text-center" ng-bind="Str.homepage.BestWheelSubTitle"></h2>
        <div id="best-restaurant">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="restaurant in BestRestaurants">
                <restaurant-item open-in-new-tab="true" restaurant="restaurant"></restaurant-item>
            </div>
        </div>
        <div class="more-restaurant"><a href="angular-client/search" id="more-restau">+ <span ng-bind="Str.homepage.MoreRestaurant"></span></a></div>
    </div>
</section>
<section class="how-it-work">
    <div class='container'>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="title_home_page text-center" ng-bind="Str.homepage.HowItWork"></h2>
            </div>
        </div>
        <div class="row how-image" style='text-align: center;'>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> <img alt="weeloy-find-restaurant" src="images/home_picture/banner/find.png" alt="weeloy find select reataurant">
                <span class="title">Find & book a restaurant</span>
                <br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> <img alt="weeloy-booking-process-step2" src="images/home_picture/banner/spin.png" alt="weeloy confirm booking">
                <span class="title">Spin the Wheel when you arrive at the restaurant</span>
                <br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img alt="weeloy-spin-wheel" src="images/home_picture/banner/win.png" alt="weeloy get discount">
                <span class="title">Win a Reward Instantly & Enjoy your dining!</span>
                <br>
            </div>
        </div>
        <div class="more-info"><a href="angular-client/how-it-works" id="more-hiw">+ <span ng-bind="Str.homepage.MoreInfo"></span></a></div>
    </div>
</section>
<section class='available-mobile'>
    <div class="text-center ">
        <h2 class='title-available-mobile'>
    Available on iOS and Android.
  </h2>
        <div class="mobile-download-widget">
            <a class="mobile-picture-div" target="_blank" href="http://itunes.apple.com/app/id973030193">
                <img width="196" height="60" src="images/home_picture/app-store-badge_en.png" alt="Available on the App Store">
            </a>
            <a class="mobile-picture-div" target="_blank" href="https://play.google.com/store/apps/details?id=com.weeloy.client">
                <img width="196" height="60" src="images/home_picture/play-store-badge_en.png" alt="Get it on Google Play">
            </a>
        </div>
    </div>
</section>
<section class="media-event">
    <h3 class="title_home_page text-center" ng-bind="Str.homepage.HighlightRestaurantEvent"></h3>
    <h2 class="sub_title_home_page text-center" ng-bind="Str.homepage.HighlightRestaurantEventSubTitle"></h2>
    <div class="container">
        <div class="left custom-grid">
            <div class="design design-nav-1 col-md-4 col-sm -4 col-xs-12" rel='1'>
                <a href="angular-client/restaurant/SG_SG_R_Match">
                    <article class="item-custom ribbon_holder">
                        <figure>
                            <img style='max-height:300px' src="https://static.weeloy.com/images/home_picture/home-events-match-ladies-night-small.jpg" alt="weeloy partner match restaurant event in singapore">
                        </figure>
                    </article>
                    <div class="design-nav" id='design-nav1'>
                    </div>
                </a>
            </div>
            <div class="design design-nav-1 col-md-4 col-sm -4 col-xs-12" rel='2'>
                <a href="angular-client/restaurant/SG_SG_R_BrasserieGavroche">
                    <article class="item-custom ribbon_holder">
                        <figure>
                            <img style='max-height:300px' src="https://static2.weeloy.com/images/home_picture/home-events-gavroche-fly-me-to-france.jpg" alt="weeloy partner cafe gavroche event singapore">
                        </figure>
                    </article>
                    <div class="design-nav" id='design-nav2'>
                    </div>
                </a>
            </div>
            <div class="design design-nav-1 col-md-4 col-sm -4 col-xs-12" rel='3'>
                <a href="angular-client/restaurant/SG_SG_R_SopraCucinaBar">
                    <article class="item-custom ribbon_holder">
                        <figure>
                            <img style='max-height:300px' src="https://static3.weeloy.com/images/home_picture/home-events-sopra-happy-hour-small.jpg" alt="weeloy partner sopra restaurant">
                        </figure>
                    </article>
                    <div class="design-nav" id='design-nav3'>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
