<div id="how-it-works">
    <section class="slider">
        <div class="main_picture">
            <div class="main_picture_content">
                <div class="bx-wrapper">
                    <div class="bx-viewport">
                        <div class="bx-viewport">
                            <ul id="bxslider" class="bxslider" style="margin: 0px; padding: 0px; width: auto; position: relative;">
                                <li>
                                    <img style=" width:100%" src="images/headers/header_aboutus.jpg" alt='weeloy fun rewarding'>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="z-index:111;position: absolute;background: none repeat scroll 0 0 rgba(111, 111, 111, 0.42); color:#fff; padding-bottom: 20px; bottom: 0%; width:100%">
                <div>
                    <h1 class="title_home_page text-center" style='color: #fff;'>How it works</h1></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container" style="margin-top:40px;margin-bottom:40px;">
            <div class="row row-description" style="margin-bottom:40px;">
                <div class="col-sm-4" style='text-align:center; margin-bottom:40px;'>
                    <img src="images/home_picture/banner/find.png" style="border: 1px solid #2aa8cf;max-width:200px; max-height:200px;" />
                </div>
                <div class="col-sm-8">
                    <h2 class='sub_title_info_page'>1. FIND & BOOK A RESTAURANT</h2>
                    <p class="decription">You just have to select and book your restaurant according to the name, cuisine, or food. You will receive your reservation confirmation by e-mail and SMS.</p>
                </div>
            </div>
            <div class="row row-description" style="margin-bottom:40px;">
                <div class="col-sm-4" style='text-align:center; margin-bottom:40px;'>
                    <img src="images/home_picture/banner/spin.png" style="border: 1px solid #2aa8cf;max-width:200px; max-height:200px;" />
                </div>
                <div class="col-sm-8">
                    <h2 class='sub_title_info_page'>2. SPIN THE WHEEL</h2>
                    <p class="decription">Upon your arrival at the restaurant, present your reservation confirmation to the restaurant staff. This confirmation includes a Spin Code. The staff will use it and offer you to spin the Wheel on their tablet or mobile.</p>
                </div>
            </div>
            <div class="row row-description" style="margin-bottom:40px;">
                <div class="col-sm-4" style='text-align:center; margin-bottom:40px;'>
                    <img src="images/home_picture/banner/win.png" style="border: 1px solid #2aa8cf;max-width:200px; max-height:200px;" />
                </div>
                <div class="col-sm-8">
                    <h2 class='sub_title_info_page'>3. WIN A REWARD INSTANTLY</h2>
                    <p class="decription">Win one of the rewards of the Wheel and enjoy your dining! With the Wheel, you win a Reward everytime you book.</p>
                    <h2 class='sub_title_info_page' style="transform: none; font-variant: none;">The Higher the Rewards Rating the Better the offers on the restaurant Wheel.</h2>
                </div>
            </div>
            <div class="row row-description">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <a class="btn btn-bitbucket" style="background-color: #2aabd2;padding: 10px 30px;" href="search/restaurant/singapore">View Restaurants</a>
                </div>
            </div>
        </div>
    </section>
</div>
