<div id="my-account">
    <div ng-include="'client/app/shared/partial/_menu_user.html'"></div>
    <div class="container">
        <div ng-show="showAccountForm == 'myAccountForm'" ng-include="'client/app/shared/partial/_my_account_form.html'" class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1"></div>
        <div ng-show="showAccountForm == 'changePasswordForm'" ng-include="'client/app/shared/partial/_change_password_form.html'" class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center showChangePasswordForm">
            <a ng-show="showAccountForm == 'myAccountForm'" ng-click="showAccountForm = 'changePasswordForm'">Change password.</a>
            <a ng-show="showAccountForm == 'changePasswordForm'" ng-click="showAccountForm = 'myAccountForm'">Change Account Info.</a>
        </div>
    </div>
</div>
