
<a href='{[{data.picture.banner}]}' class='fresco'> <div class="banner_restaurant" style="background: url({[{data.picture.banner}]}) no-repeat center center; background-size: cover; "></div></a>

<div class="col-sm-4 right hide-desk">
    <div class="trans-block">
        <div class="bar-logo"><img src="{[{data.picture.logo}]}" class="img-responsive" alt=""></div>
        <h1 id="title_resto">{[{data.restaurant.title}]}</h1>
        <p id="address_resto">{[{data.restaurant.address}]},{%if data.restaurant.zip != '' %} {[{data.restaurant.zip}]},{% endif %}<br>
            {[{data.restaurant.city}]}</p>

        <div class="circle-img">
{% if data.restaurant.status == 'active'  or data.restaurant.status == 'demo_reference'  %}
    <p><button class="btn btn-book2 custom_button {[{data.bookbutton.customstyle}]}" style="font-size:18px;width:100%" rel="{[{data.bookbutton.actionlink}]}" id="book-3">{[{data.bookbutton.booktitle}]}</button></p>
{% endif %}
            {% if data.restaurant.is_wheelable == '1'%}
            <a rel='nofollow' href="{[{path_adaptor}]}{[{data.wheel_link}]}" target="_blank">
                <img src="{[{data.picture.wheelvalue}]}" width="116" height="114" alt="">
            </a>{% else %} 
                        {% if data.restaurant.extraflag b-and 64 %}   
                            {[{data.best_promotion}]}
                        {% endif %}
                    {% endif %}            
        </div>
    </div>
    <div class="inner">
            <div class="style">
                    <h2>Best Rewards</h2>
                     {% for  offer_detail in data.best_offers%}
                        <p>{[{offer_detail.offer}]}</p>
                     {% endfor %} 
                    <p><a rel='nofollow' href="{[{path_adaptor}]}{[{data.wheel_link}]}"  target="_blank">view all</a></p>
                </div>
                    
                                    {% if data.review.count.count > 0 %}
                <div class="style">
                    <h2>{[{data.review.count.count}]} review{%if data.review.count>1%}s{%endif%}</h2>
                    <p><span class='reviews-menu {[{data.review.count.score | get_review_class}]}'></span> {[{data.review.count.review_desc|title}]}</p>
                    <!--<p><a rel='nofollow' href=""  target="_blank">details</a></p>-->
                </div>
                {% endif %}
                
        <div class="style">
            <h2>Cuisine</h2>
            <p>{[{data.restaurant.cuisine|explode_cuisine}]}</p>
        </div>
        <div class="style">
            <h2>Prise</h2>
            <p>
            {% if data.restaurant.pricelunch != '' %}
            	Lunch {[{data.restaurant.pricelunch}]}<br>
            {% endif %}
           	{% if data.restaurant.pricediner != '' %}
               Dinner {[{data.restaurant.pricediner}]}
            {% endif %}
            </p>
        </div>
            
        <div class="style last">
            <h2>Opening hours</h2>
            <ul class="business-hours">
                <li class="clearfix">
                    <div class="day"></div>
                    <div class="lunch">LUNCH</div>
                    <div class="dinner">DINNER</div>
                </li>
                {% for day in data.opening_hours %}
                    <li class="clearfix">
                        <div class="day">{[{day.day[0:3]}]}</div>
                        <div class="lunch">{[{day.lunch}]}</div>
                        <div class="dinner">{[{day.dinner}]}</div>
                    </li>
                {% endfor %}
            </ul>
           
           {% if data.restaurant.status == 'active'  or data.restaurant.status == 'demo_reference'  %}
                <button class="btn btn-book2 custom_button {[{data.bookbutton.customstyle}]}" style="font-size:18px;width:100%" rel="{[{data.bookbutton.actionlink}]}" id="book-4">{[{data.bookbutton.booktitle}]}</button>
            {% endif %}
        </div>

    </div>

    {% if data.chef.name|default %}   
        <div class="chef">
            <div class="img-block"> <img src="{[{data.picture.chef}]}" width="70%"  class="text-center" alt="">
                <h2>{[{data.chef.name}]}</h2>
            </div>
            {% if data.chef.believe|default %}
                <h3>The beliefs</h3>
                <p>{[{data.chef.believe}]}</p>
            {% endif %}
            {% if data.chef.description|default %}
                <h3>The cuisine</h3>
                <p>{[{data.chef.description}]}</p>
            {% endif %}


        </div>
    {% endif %}   

    {%if data.is_mobile != false %}<div id='map_canvas'></div>{% endif %}
    <!--<div class="g-map">
        <iframe src="https://maps.google.com/maps?q={[{data.maps.lat}]},{[{data.maps.lon}]}&hl=es;z=14&amp;output=embed" width="100%" height="418" frameborder="0" style="border:0"></iframe>
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8025661347547!2d{[{data.maps.lon}]}!3d{[{data.maps.lon}]}0000000087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19a140366695%3A0xaf95f4630f805fc2!2s{[{data.maps.add}]}!5e0!3m2!1sen!2sin!4v1428048390491" width="100%" height="418" frameborder="0" style="border:0"></iframe>-->
    <!--</div>-->
    
</div>

<div class="container middle">
    
    <div class="row">
        <div class="col-sm-8 left">
<div style="display:none" id="booking_form_integration">       
  <!--  <iframe style="width:800px; height: 900px" src="../../modules/booking/book_form.php?bkrestaurant=SG_SG_R_Match&bktitle=Match%20@%20Pan%20Pacific" frameborder="0" allowfullscreen></iframe>-->
</div>
   
            <div class="information">
                <h1>About {[{data.restaurant.title}]}</h1>
                <p id="desc_difference ">{[{data.restaurant.description|raw}]}<!--<a href="#">...more</a>--></p>
                
                {% if data.chef.award|default %}
                <h1>The awards</h1>
                    {[{data.chef.award}]}
                {% endif %}
                {% if data.video.restaurant_dishes|default%}
                    <div class="video">
                    <iframe src="{[{data.video.restaurant_dishes}]}" style="width:100%; height:320px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                {% endif %}
            </div>

            {% if data.menu.categorie|default %}
            <div class="menu">
                <h1>Menu of {[{data.restaurant.title}]}</h1>
                <div class="panel-menu-group" id="accordion" role="tablist" aria-multiselectable="true">
                    
                    {% for menu in data.menu.categorie %}
                        <div class="panel-menu panel-menu-default ">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{[{loop.index}]}" aria-expanded="true" aria-controls="collapse{[{loop.index}]}" > 
                            <div class="panel-menu-heading" role="tab" id="heading{[{loop.index}]}One">
                                <h4 class="panel-menu-title"> 
                                    {[{menu.value}]}
                                </h4>
                            </div>
                            </a>
                            <div id="collapse{[{loop.index}]}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{[{loop.index}]}">
                            <div class="panel-body">
                                    {% for menu_item in data.menu.item %}
                                        {% if menu_item.menu_categorie_id == menu.ID%}
                                            {%  if menu_item.type == 'description' %}
                                                <h3>{[{menu_item.item_title}]}</h3>

                                            {% endif %}
                                            
                                            {%  if menu_item.type == 'item' %}
                                                <div><h2>{[{menu_item.item_title}]}
                                                {% if menu_item.chef_reco == '1' %}
                                                   <img width='16px' src="images/restaurant_icons/chef_reco.png"> 
                                                {% endif %}  
                                                {% if menu_item.spicy1 == '1' %}
                                                   <img width='20px' src="images/restaurant_icons/spicy1.png"> 
                                                {% endif %}
                                                {% if menu_item.spicy2 == '1' %}
                                                   <img width='20px' src="images/restaurant_icons/spicy2.png"> 
                                                {% endif %}
                                                {% if menu_item.spicy3 == '1' %}
                                                   <img width='20px' src="images/restaurant_icons/spicy3.png"> 
                                                {% endif %}
                                                {% if menu_item.halal == '1' %}
                                                   <img width='16px' src="images/restaurant_icons/halal.png"> 
                                                {% endif %}
                                                {% if menu_item.vegi == '1' %}
                                                   <img width='16px' src="images/restaurant_icons/vegi.png"> 
                                                {% endif %}
                                                {% if (menu_item.price != '0') and menu_item.price  %}
                                                <span style='float: right;font-size: 11px;font-family:Roboto;font-weight:normal;margin: 0 0 0 5px;'>{[{data.restaurant.currency}]} {[{menu_item.price}]}</span>
                                                {% endif %}                                                    
                                                </h2>                                                    
                                                </div>
                                                
                                                <p>{[{menu_item.item_description}]}</p>
                                            {% endif %}
                                            
                                        {% endif %}
                                    {%endfor%}
                                </div> 
                                </div>
                        </div> 
                    {% endfor %}
                </div>
            </div>
                {% endif %}
            {% if data.events|default%}
                <div class="events">
                    <h1>Events of {[{data.restaurant.title}]}</h1>
                    <ul>
                        {% for event in data.events %}
                            <li class="clearfix">
                                <div class="cnt">
                                    <h2>{[{event.title}]}</h2>
                                    <span>{[{event.start|date("F jS, Y")}]} to {[{event.end|date("F jS, Y")}]} in {[{event.city}]}</span>
                                    <p>{[{event.description}]}</p>
                                </div>
                                <div class="img-block"><img src="{[{event.default_picture}]}" class="img-responsive" alt=""></div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            {% endif %}
            
            <div class="gallery clearfix">
                <h1>Gallery of {[{data.restaurant.title}]}</h1>
                {% set foo = '#' %} 
                <ul class="clearfix">
                    {% set break = 0 %}
                    {% for picture in data.gallery.pictures %}
                        
                        {% if  picture.description|default %}
                            {% set alt_elmt =  data.restaurant.title ~ ' restaurant - ' ~ picture.description ~ ' - weeloy.com'%}
                        {% else %}
                            {% set alt_elmt = data.restaurant.title ~ ' restaurant - picture ' ~ loop.index ~ ' - weeloy.com'%} 
                        {% endif %}
                        
                        <!-- exit condition -->
                        {% if loop.index > data.gallery.nb_pic %} {% set break = 1 %} {% endif %}

                        {% if loop.index <= 2 %}
                            {% set foo = picture %} 
                            <li class="first">
                                <a href="{[{picture.full}]}" class="fresco" data-fresco-caption="{[{alt_elmt}]}" data-fresco-group="restau">
                                    <img src="{[{picture.thumb}]}" alt="{[{alt_elmt}]}" />
                                </a>
                            </li>
                        {% else %}
                            {% if break == 0 %}
                                <li class="second">
                                    <a href="{[{picture.full}]}" class="fresco" data-fresco-caption="{[{alt_elmt}]}" data-fresco-group="restau">
                                        <img src="{[{picture.thumb}]}" alt="{[{alt_elmt}]}" />
                                    </a>
                                </li>
                            {%else%}
                                <a href="{[{picture.full}]}" class="fresco" data-fresco-caption="{[{alt_elmt}]}" data-fresco-group="restau">
                                </a>
                            {%endif%}
                        {% endif %}

                    {% endfor %}
                </ul>
                <!-- <a href="{[{foo}]}" class="view-all fresco" data-fresco-group="demo">View all {[{data.gallery.pic_count}]} photos</a> -->
            </div>
        </div>
            
                        
<div class="col-sm-4 hide-desk">
   {% if data.service.services_list|default %}
    {% set previous_categorie = '' %}
        {% for service_details in data.service.services_list %}
            {% if previous_categorie != service_details.categorie %}
                {% if previous_categorie != '' %}
                    </p></li> 
                {% endif %}
                <li> 
                <div class="head clearfix"> <span class="ico"><img src="{[{service_details.pico_categorie}]}" width="23" height="23" alt=""></span> {[{service_details.categorie}]} </div>
                    <p>
                {% if service_details.categorie_id != 3 %}
                    {[{service_details.service}]}
                {% else %}
                    <a href="#"><img src="{[{service_details.pico_service}]}" alt=""></a>
                {% endif %}
             {% else %}
                {% if service_details.categorie_id != 3 %}
                    , {[{service_details.service}]}
                {% else %}
                    <a href="#"><img src="{[{service_details.pico_service}]}" alt=""></a>
                {% endif %}
             {% endif %}
           {% set previous_categorie = service_details.categorie %}
        {% endfor %}

        {% if previous_categorie != '' %}
           </p></li>
        {% endif %}  
{% endif %}

  <div class="head clearfix style "> 
       <h2 > Share This Resturant With Your Friends</h2>
       <button class ="btn btn-lg btn-social btn-facebook" id="share-facebook" ><i class="fa fa-facebook"></i>Share On Facebook</button> 
  </div>  
</div>
            
            
            
        <div class="col-sm-4 right hide-mob">
             
            <div class="trans-block">
                <div class="bar-logo"><img src="{[{data.picture.logo}]}" class="img-responsive" alt=""></div>
                <h1>{[{data.restaurant.title}]}</h1>
                <p>{[{data.restaurant.address}]},{%if data.restaurant.address1 != '' %}<br />{[{data.restaurant.address1}]},{% endif %} {%if data.restaurant.zip != '' %} {[{data.restaurant.zip}]},{% endif %}<br>
                    {[{data.restaurant.city}]}</p>

                <div class="circle-img">
{% if data.restaurant.status == 'active'  or data.restaurant.status == 'demo_reference'  %}
    <p><button class="btn btn-book2 custom_button {[{data.bookbutton.customstyle}]}" style="font-size:18px;width:100%" rel="{[{data.bookbutton.actionlink}]}" id="book-0">{[{data.bookbutton.booktitle}]}</button></p>
{% endif %}
                    {% if data.restaurant.is_wheelable == '1'%}
                    <a rel='nofollow' href="{[{path_adaptor}]}{[{data.wheel_link}]}"  target="_blank">
                        <img src="{[{data.picture.wheelvalue}]}" width="116" height="114" alt="">
                    </a>
                    {% else %} 
                        {% if data.restaurant.extraflag b-and 64 %}   
                            {[{data.best_promotion}]}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="inner">
                {% if data.restaurant.is_wheelable == '1' %}
                <div class="style">
                    <h2>Best Rewards of {[{data.restaurant.title}]}</h2>
                     {% for  offer_detail in data.best_offers%}
                        <p>{[{offer_detail.offer}]}</p>
                     {% endfor %} 
                    <p><a rel='nofollow' href="{[{path_adaptor}]}{[{data.wheel_link}]}"  target="_blank">view all</a></p>
                </div>
                {% endif %}
                {% if data.review.count.count > 0 %}
                <div class="style">
                    <h2>{[{data.review.count.count}]} review{%if data.review.count>1%}s{%endif%}</h2>
                    <p><span class='reviews-menu {[{data.review.count.score | get_review_class}]}'></span> {[{data.review.count.review_desc|title}]}</p>
                    <!--<p><a rel='nofollow' href=""  target="_blank">details</a></p>-->
                </div>
                {% endif %}
                <div class="style">
                    <h2>Cuisine</h2>
                    <p>{[{data.restaurant.cuisine|explode_cuisine}]}</p>
                </div>
                <div class="style">
                    <h2>Price</h2>
                    <p>
					{% if data.restaurant.pricelunch != '' %}
						Lunch {[{data.restaurant.pricelunch}]}<br>
					{% endif %}
					{% if data.restaurant.pricediner != '' %}
					   Dinner {[{data.restaurant.pricediner}]}
					{% endif %}
            	</p>
                </div>
                <div class="style last">
                    <h2>Opening hours</h2>
                    <ul class="business-hours">
                        <li class="clearfix">
                            <div class="day"></div>
                            <div class="lunch">LUNCH</div>
                            <div class="dinner">DINNER</div>
                        </li>
                        {% for day in data.opening_hours %}
                            <li class="clearfix" {% if 1 == 1%} style="font-family: 'proxima_novasemibold'" {%endif%}>
                                <div class="day">{[{day.day[0:3]}]}</div>
                                <div class="lunch">{[{day.lunch}]}</div>
                                <div class="dinner">{[{day.dinner}]}</div>
                            </li>
                        {% endfor %}
                    </ul>
                     <!--<a href="#" id="show_booking_form">TEST</a>-->
                    {% if data.restaurant.status == 'active'  or data.restaurant.status == 'demo_reference' %}
                        <button class="btn btn-book2 custom_button {[{data.bookbutton.customstyle}]}" style="font-size:18px;width:100%" rel="{[{data.bookbutton.actionlink}]}" id="book-1">{[{data.bookbutton.booktitle}]}</button>
                    {% endif %}
                    

                </div>

            </div>

            <div class="info_right">  
                {% if data.chef.name|default%}       
                    <div class="chef">
                        <div class="img-block"> <img src="{[{data.picture.chef}]}" style="width:70%;" class="text-center" alt="">
                            <h2>{[{data.chef.label}]} {[{data.chef.name}]}</h2>
                        </div>
                        <h3>{[{data.chef.gender}]} beliefs</h3>
                        <p>{[{data.chef.believe}]}</p>
                        <h3>{[{data.chef.gender}]} cuisine</h3>
                        <div class="span4 collapse-group">
                            <p>{[{data.chef.description}]}</p>
                            {% if data.chef.description2|default %}
                                <span class="collapse">{[{data.chef.description2}]}</span>
                                <a class="btn read_more" href="#">Read more...</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}


                <div id='map_canvas'></div>
                <!--<div class="g-map">
                    <iframe src="https://maps.google.com/maps?q={[{data.maps.lat}]},{[{data.maps.lon}]}&hl=es;z=14&amp;output=embed" width="100%" height="418" frameborder="0" style="border:0"></iframe>
                    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8025661347547!2d{[{data.maps.lon}]}!3d{[{data.maps.lon}]}0000000087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19a140366695%3A0xaf95f4630f805fc2!2s{[{data.maps.add}]}!5e0!3m2!1sen!2sin!4v1428048390491" width="100%" height="418" frameborder="0" style="border:0"></iframe>-->
                <!--</div>-->

      <ul class="additional-info">
      
{% if data.service.services_list|default %}
    {% set previous_categorie = '' %}
        {% for service_details in data.service.services_list %}
            {% if previous_categorie != service_details.categorie %}
                {% if previous_categorie != '' %}
                    </p></li> 
                {% endif %}
                <li> 
                <div class="head clearfix"> <span class="ico"><img src="{[{service_details.pico_categorie}]}" width="23" height="23" alt=""></span> {[{service_details.categorie}]} </div>
                    <p>
                {% if service_details.categorie_id != 3 %}
                    {[{service_details.service}]}
                {% else %}
                    <a href="#"><img src="{[{service_details.pico_service}]}" alt=""></a>
                {% endif %}
             {% else %}
                {% if service_details.categorie_id != 3 %}
                    , {[{service_details.service}]}
                {% else %}
                    <a href="#"><img src="{[{service_details.pico_service}]}" alt=""></a>
                {% endif %}
             {% endif %}
           {% set previous_categorie = service_details.categorie %}
        {% endfor %}

    
        {% if previous_categorie != '' %}
           </p></li>
        {% endif %}
    
      
{% endif %}
          
          
       <!--   
          
        <li>
          <div class="head clearfix"> <span class="ico"><img src="images/restaurant_icons/dining-ico.png" width="23" height="23" alt=""></span> Dining Style </div>
          <p>Casual Elegant</p>
        </li>
        <li>
          <div class="head clearfix"> <span class="ico"><img src="images/restaurant_icons/dress-ico.png" width="23" height="23" alt=""></span> Dress Code </div>
          <p>Casual Dress</p>
        </li>
        <li>
          <div class="head clearfix"> <span class="ico"><img src="images/restaurant_icons/payment-ico.png" width="23" height="23" alt=""></span> Payment Options </div>
          <ul class="payment clearfix">
            <li><a href="#"><img src="images/restaurant_icons/p1.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/restaurant_icons/p2.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/restaurant_icons/p3.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/restaurant_icons/p4.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/restaurant_icons/p5.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/restaurant_icons/p6.jpg" alt=""></a></li>
          </ul>
        </li>
        <li>
          <div class="head clearfix"> <span class="ico"><img src="images/restaurant_icons/parking-ico.png" width="23" height="23" alt=""></span> Parking Details </div>
          <p>Two hours complimentary valet parking validation for dinner on Thursday -Saturday. </p>
        </li>
        <li>
          <div class="head clearfix"> <span class="ico"><img src="images/restaurant_icons/public-transit.png" width="23" height="23" alt=""></span> Public Transit </div>
          <p>The hotel is located on the corner of O'Farrell and Mason Streets. One block from the Powell Street BART station.</p>
        </li>
        <li>
          <div class="head clearfix"> <span class="ico"><img src="images/restaurant_icons/additional-ico.png" width="23" height="23" alt=""></span> Additional </div>
          <p>Banquet/Private Rooms, Bar Dining, Bar/Lounge, Beer, Farm to Table, Full Bar, Gluten-free Menu, Happy Hour, Non-Smoking Restaurant, Personal wines welcome (corkage fee applies), Private Room, Weekend Brunch, Wheelchair Access, Wine.</p>
        </li>
        <li>
          <span class="ico"><img src="images/restaurant_icons/event-ico.png" width="23" height="23" alt=""></span> Special Events & Promotions </div>
          <p>We encourage special events! </p>
        </li>-->
      </ul>
       
       <div class="head clearfix style "> 
           <h2 > Share This Resturant With Your Friends</h2>
            <button class ="btn btn-lg btn-social btn-facebook" ><i class="fa fa-facebook"></i>Share On Facebook</button> 

       </div>
        
            </div>
        </div>
    </div>
</div>

{% if data.review.details|default %}
<section class="reviews">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1><span>{[{data.review.count.count}]} reviews</span><span style='float:right'>{[{data.review.count.review_desc|title}]} {[{data.review.count.score}]}/5</span></h1>
                <ul>        
                    {%for review in data.review.details %}
                    <li class="clearfix">
                         <div class="img-block" style='margin-top:-20px'>
                             {% if review.user_picture | default %}
                                <div style='width: 100px;height: 100px;padding-right: 30px;float:left;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;background: url(https://media.weeloy.com{[{review.user_picture}]}) no-repeat;background-size:cover'>
                                <img style='opacity: 0; filter: alpha(opacity=0);' src="https://media.weeloy.com{[{review.user_picture}]}" alt="" />
                             {% else %}
                                    <div style='width: 100px;height: 100px;padding-right: 30px;float:left;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;background: url(images/logo-500-500.png) no-repeat;background-size:cover'>
                                <img style='opacity: 0; filter: alpha(opacity=0);' src="images/logo-100-100.png" alt="" />
                             {% endif %}
                            </div>
                        </div>
                        <div class="cnt"> 
                            <span>{[{review.user_name}]},  {[{review.post_date|date("M Y")}]}</span>
                            <span style='float:right; color:green'>{[{review.score}]}/5</span>
                            {% if not review.comment|default %}<p><i>No comment available</i></p>{% endif %}
                            <p>{[{review.comment}]}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endif %}
<script src="//maps.googleapis.com/maps/api/js?v=3&callback=loadmap" type="text/javascript" defer></script>
<script>
function loadmap() {
    var map;
            var latitude = {[{data.maps.lat}]};
            var longitude = {[{data.maps.lon}]};

// Load coordinates
            var myLatlng = new google.maps.LatLng(latitude, longitude);

// Initialize
    function initialize() {
        // Map Options
        {% if  data.is_mobile == false%}
        var mapOptions = {
            zoom: 14,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            //scaleControl: false,
            //draggable: false,
            //zoomControl: false
        };
        // Load Map
        map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
        {% else %}
            var mapOptions = {
            zoom: 14,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            draggable: false,
            zoomControl: false
        };
        // Load Map
        map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
        {% endif %}
        // Marker
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    }
</script>

<script type="text/javascript">

    $('.btn-book2').on('click', function () {
        window.open($(this).attr('rel'), '_blank');
    });
    
    function getRestaurantInternalPath(restaurant) {


            var country = '',
                city = '',
                restaurant_name = '',
                restaurant_url = '';

            var restaurant_details = restaurant.split('_');


            var type = 'restaurant';

            switch (restaurant_details[0]) {
                case 'SG':
                    country = 'singapore';
                    break;
                case 'HK':
                    country = 'hong-kong';
                    break;
                case 'TH':
                    country = 'thailand';
                    break;
                case 'MY':
                    country = 'malaysia';
                    break;
                default:
                    country = 'singapore';
                    break;
            }


            switch (restaurant_details[1]) {
                case 'SG':
                    city = 'singapore';
                    break;
                case 'HK':
                    city = 'hong-kong';
                    break;
                case 'BK':
                    city = 'bangkok';
                    break;
                case 'PK':
                    city = 'phuket';
                    break;
                case 'KL':
                    city = 'kuala-lumpur';
                    break;
                default:
                    city = 'singapore';
                    break;
            }

            restaurant_name = restaurant.substring(8);
            restaurant_name = restaurant_name.replace('_', '');
            restaurant_name = restaurant_name.replace(/([A-Z])/g, "-$1");
            restaurant_name = restaurant_name.substring(1);
            restaurant_name = restaurant_name.toLowerCase();

            if (country === city) {
                restaurant_url = type + '/' + country + '/' + restaurant_name;
            } else {
                restaurant_url = type + '/' + country + '/' + city + '/' + restaurant_name;
            }

            return restaurant_url;
        }
  var rest = "{[{data.restaurant.restaurant}]}",

     linkUrl= getRestaurantInternalPath(rest);
 
    $(document).ready(function () {
  
        $(window).scroll(function () {
            var wind = $(window).scrollTop();
            if (wind <= 930) {
                $('.style.last').removeClass('fixed');
                $('.style.last').removeClass('moveup{[{data.opening_hours_type}]}');
                $('.info_right').removeClass('movedown{[{data.opening_hours_type}]}');
            }
            else
            {
                $('.style.last').addClass('fixed');
                $('.style.last').addClass('moveup{[{data.opening_hours_type}]}');
                $('.info_right').addClass('movedown{[{data.opening_hours_type}]}');
            }
        });
        $(".btn-facebook").bind('click', function () {
            fbshare();
        });

        //javascript fb feed dialog code
          function fbshare(){
                var pictureUrl = $(".fresco").attr('href'),
                     resTitle = $("#title_resto").html(),
                     resDescription =$("#desc_difference").html();      //"{[{data.restaurant.address}]},{[{data.restaurant.city}]}" ;          //"";
            var obj = {
                    method: 'feed',
                    link: "https://www.weeloy.com/"+linkUrl, 
                    picture: pictureUrl,
                    name: resTitle,
                    caption: 'Book ' + resTitle + ' & win rewards with Weeloy',
                    description: resDescription,
                    display:'popup'
            };

                FB.ui(obj, function(response){
                    
                });
          }    
        
    //});

    $('.row .btn').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var $collapse = $this.closest('.collapse-group').find('.collapse');
        $collapse.collapse('toggle');
        $this.closest('.read_more').hide();
    });

      /*....start Fb javascipt feed dialog sdk code   .......*/
     
       window.fbAsyncInit = function() {
            FB.init({
                appId:  '{[{data.facebook_id}]}',  //"344934015702933", //weeloy localhost fb appId
                status: true,
                cookie: true,
                xfbml: true
            });
       }; //end fbAsyncInit

        // Load the SDK Asynchronously
        (function(d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
        return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
        }(document)); //end loadSDF

    }); //end if $.ready

     /* end  Fb sdk ..*/
      
      

</script>
