<div class="row">
    <div class="col-sm-8"  style="text-align: center;margin-top: 40px;">
        <a href='{[{data.picture.wheel}]}' class='fresco'> 
            <img src='{[{data.picture.wheel}]}' />  
        </a>
        <div style='width:100%; text-align: center'>
            <div style='width:50%;  margin: 10px auto;font-size:11px'>
                The Wheel is the current wheel of the restaurant and subject to change by the restaurant by the time of your visit.
                Users agree that all promotional offers that are posted on Weeloy Channels are not applicable in conjunction with other discounts, promotional offers or during special festive holidays, unless explicitly stated.
            </div>
        </div>
    </div>
    <div class="col-sm-4 right hide-desk">
        <div class="trans-block" style='border:none;background: #fff none repeat scroll 0 0;  min-height: inherit;
             padding-top: 30px;'>
            <div class="bar-logo"><img src="{[{data.picture.logo}]}" class="img-responsive" alt=""></div>
            <h1 id="title_resto">{[{data.restaurant.title}]}</h1>
            <p id="address_resto">{[{data.restaurant.address}]},{%if data.restaurant.zip != '' %} {[{data.restaurant.zip}]},{% endif %}<br>
                {[{data.restaurant.city}]}</p>
        </div>
        <div class="" style =' background: #fff none repeat scroll 0 0;'>
            <div class="style" style=" padding-left: 25px;">
                <h2>Rewards Rating</h2>
                <p>120</p>
            </div>
            <div class="style"  style=" padding-left: 25px;">
                <h2>Best Rewards</h2>
                {% for  offer_detail in data.best_offers%}
                    <p>{[{offer_detail.offer}]}</p>
                {% endfor %} 
            </div>
            <div class="style last"  style=" padding-left: 25px;">
                <h2>How it works</h2>
                <p>After you book, an email is sent to you with a SPIN Code. You need it at the restaurant to Spin the wheel and win your rewards.</p>
                <p>Enjoy your party!</p>
            </div>
            <div class="style last"  style=" padding-left: 25px;">
                {% if data.restaurant.status == 'active'  or data.restaurant.status == 'demo_reference'  %}
                    <button class="btn btn-book2 custom_button {[{data.bookbutton.customstyle}]}" style="font-size:18px;width:100%" rel="{[{data.bookbutton.actionlink}]}">{[{data.bookbutton.booktitle}]}</button>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="col-sm-4 hide-mob">
        <div class="col-lg-8 hide-mob">

            <div class="trans-block" style='background: #fff none repeat scroll 0 0; min-height: 100%;'>
                <div class="bar-logo"><img src="{[{data.picture.logo}]}" class="img-responsive" alt=""></div>
                <h1>{[{data.restaurant.title}]}</h1>
                <p>{[{data.restaurant.address}]},{%if data.restaurant.address1 != '' %}<br />{[{data.restaurant.address1}]},{% endif %} {%if data.restaurant.zip != '' %} {[{data.restaurant.zip}]},{% endif %}<br>
                    {[{data.restaurant.city}]}</p>
            </div>
            <div style='  background: #fff none repeat scroll 0 0;padding: 10px 5px 8px 10px;'>
                <div class="style">
                    <h2>Rewards Rating</h2>
                    <p>{[{data.restaurant.wheelvalue}]}</p>
                </div>

                <div class="style">
                    <h2>Best Rewards of {[{data.restaurant.title}]}</h2>
                    {% for  offer_detail in data.best_offers%}
                        <p>{[{offer_detail.offer}]}</p>
                    {% endfor %} 
                </div>
                <div class="style last">
                    <h2>How it works</h2>
                    <p>After you book, an email is sent to you with a SPIN Code. You need it at the restaurant to Spin the wheel and win your rewards.</p>
                    <p>Enjoy your party!</p>
                </div>
                <div class="style last">
                    {% if data.restaurant.status == 'active'  or data.restaurant.status == 'demo_reference' %}
                        <button class="btn btn-book2 custom_button {[{data.bookbutton.customstyle}]}" style="font-size:18px;width:100%" rel="{[{data.bookbutton.actionlink}]}">{[{data.bookbutton.booktitle}]}</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-4 hide-mob">

        </div>
    </div>
</div>
<script type="text/javascript">
    $('.btn-book2').on('click', function () {
        window.open($(this).attr('rel'), '_blank');
    });
</script>