<div class="restaurant-info-page" ng-if="restaurant != undefined">
    <a href="{{restaurant.banner}}" class="fresco">
        <div class="banner_restaurant" style="background: url('{{restaurant.banner}}') no-repeat center center; background-size: cover; "></div>
    </a>
    <div class="container middle">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-push-8 col-md-push-8 col-sm-push-8 right">
            <div class="trans-block">
                <div class="bar-logo"><img ng-src="{{restaurant.logo}}" class="img-responsive" alt=""></div>
                <h1 ng-bind="restaurant.restaurantinfo.title"></h1>
                <p><span ng-bind="restaurant.restaurantinfo.address"></span>, <span ng-bind="restaurant.restaurantinfo.zip"></span>,
                    <br> <span ng-bind="restaurant.restaurantinfo.region"></span>
                </p>
                <div class="circle-img">
                    <p>
                        <button class="btn btn-book2 custom_button" style="font-size:18px;width:100%" ng-click="btnBookNow_click(restaurant)">BOOK NOW</button>
                    </p>
                    <a rel="nofollow" href="../../index.php?page=wheel_details&amp;restaurantname=SG_SG_R_MarcoMarco&amp;shwwhl=105066403" target="_blank">
                        <img ng-src="https://media4.weeloy.com/upload/wheelvalues/wheelvalue_{{restaurant.restaurantinfo.wheelvalue}}.png" width="116" height="114" alt="">
                    </a>
                </div>
            </div>
            <div class="inner">
                <div class="style">
                    <h2>Best Rewards of <span ng-bind="restaurant.restaurantinfo.title"></span></h2>
                    <p ng-repeat="reward in restaurant.wheelArray | limitTo:3 track by $index" ng-bind="reward"></p>
                    <p><a rel="nofollow" ng-href="angular-client/all-rewards/{{restaurant.restaurantinfo.restaurant}}">view all</a></p>
                </div>
                <div class="style" ng-show="reviews.count > 0">
                    <h2><span ng-bind="reviews.count"></span> <span ng-if="reviews.count == 1">review</span><span ng-if="reviews.count > 1">reviews</span></h2>
                    <p><span class="reviews-menu review-{{reviews.score * 10}}"></span> <span ng-bind="reviews.score_desc"></span></p>
                    <p><a style="cursor: pointer" rel="nofollow" ng-click="showReview()">details</a></p>
                </div>
                <div class="style">
                    <h2>Cuisine</h2>
                    <p><span ng-repeat="cuisine in restaurant.cuisineArray"><span ng-bind="cuisine"></span><span ng-hide="$last">, </span></span></p>
                </div>
                <div class="style">
                    <h2>Price</h2>
                    <p>
                        Lunch {{ restaurant.restaurantinfo.pricing.lunch }}
                        <br> Dinner {{ restaurant.restaurantinfo.pricing.dinner }}
                    </p>
                </div>
                <div class="style last">
                    <h2>Opening hours</h2>
                    <ul class="business-hours">
                        <li class="clearfix">
                            <div class="day"></div>
                            <div class="lunch" style="font-family: 'proximanova'">LUNCH</div>
                            <div class="dinner" style="font-family: 'proximanova'">DINNER</div>
                        </li>
                        <li class="clearfix" style="font-family: 'proxima_novasemibold'" ng-repeat="day in restaurant.restaurantinfo.openhours">
                            <div class="day" ng-bind="day.day"></div>
                            <div class="lunch" ng-bind="day.lunch"></div>
                            <div class="dinner" ng-bind="day.dinner"></div>
                        </li>
                    </ul>
                    <button id="btn_affix" class="btn btn-book2 custom_button" ng-init="Affix()" style="font-size:18px;width:100%" ng-click="btnBookNow_click(restaurant)">BOOK NOW</button>
                </div>
            </div>
            <div class="info_right">
                <div class="chef" ng-show="restaurant.chef.chef_name != '' && restaurant.chef.chef_name != null">
                    <div class="img-block"> <img ng-src="https://media4.weeloy.com/upload/restaurant/{{restaurant.restaurantinfo.restaurant}}/{{restaurant.chef.chef_image}}" style="width:70%;" class="text-center" alt="">
                        <h2 ng-bind="restaurant.chef.chef_name"></h2>
                    </div>
                    <h3>His beliefs</h3>
                    <p ng-bind="restaurant.chef.chef_believe"></p>
                    <h3>His cuisine</h3>
                    <div class="span4 collapse-group">
                        <span ng-show="showReadmore" ng-bind="restaurant.chef.chef_description"></span>
                        <a class="btn read_more" ng-hide="showReadmore" ng-click="showReadmore = true">Read more...</a>
                    </div>
                </div>
                <div id="map_canvas" ng-init="loadmap(restaurant.lat, restaurant.lng)"></div>
                <div class="hidden-on-xs" ng-include="'client/app/shared/partial/_restaurant_services_and_share.html'"></div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-pull-4 col-md-pull-4 col-sm-pull-4 left">
            <div class="information">
                <h1>About {{ restaurant.restaurantinfo.title }}</h1>
                <p ng-repeat="description in restaurant.restaurantinfo.description"><b ng-bind="description.title"></b>
                    <span ng-repeat="line in description.body"><br>{{ line }}</span>
                </p>
                <div class="video" ng-if="restaurant.restaurantinfo.video != ''">
                    <iframe ng-src="{{ restaurant.restaurantinfo.video | trustAsResource }}" style="width:100%; height:320px" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="menu" ng-if="restaurant.menu != undefined && restaurant.menu != '' && restaurant.menu != null">
                <h1>Menu of {{restaurant.restaurantinfo.title}}</h1>
                <div class="panel-menu-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel-menu panel-menu-default" ng-repeat="menu in restaurant.menu">
                        <div class="panel-menu-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{$index}}" aria-expanded="false" aria-controls="collapse1" class="collapsed">
                            <span ng-bind="menu.categorie.value"></span>
                            <i class="fa fa-angle-down"></i>
                        </div>
                        <div id="collapse-{{$index}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li ng-repeat="MenuItem in menu.items">
                                        <p>
                                            <span ng-bind="MenuItem.item_title"></span>
                                            <img src="images/restaurant_icons/vegi.png">
                                            <span ng-show="MenuItem.price!= undefined && MenuItem.price != null">{{MenuItem.currency}} {{MenuItem.price}}</span>
                                        </p>
                                        <p ng-bind="MenuItem.item_description"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery clearfix">
                <h1>Gallery of {{ restaurant.restaurantinfo.title }}</h1>
                <ul class="clearfix">
                    <li ng-repeat="image in restaurant.restaurantinfo.images" class="{{ ($index < 2) ? 'first' : ($index < 5) ? 'second' : '' }}">
                        <a ng-href="https://media3.weeloy.com/upload/restaurant/{{ restaurant.restaurantinfo.restaurant }}/1440/{{ image }}" class="fresco" data-fresco-caption="{{ restaurant.restaurantinfo.title }} - weeloy.com" data-fresco-group="restau">
                            <img ng-if="$index < 5" ng-src="https://media3.weeloy.com/upload/restaurant/{{ restaurant.restaurantinfo.restaurant }}/{{ image }}" alt="{{ restaurant.restaurantinfo.title }} - weeloy.com">
                        </a>
                    </li>
                </ul>
            </div>
            <div id="review-section" class="reviews-section" ng-show="showReviewSection">
                <h1><p class="pull-left"><span ng-bind="reviews.count"></span> <span ng-show="reviews.count > 1">reviews</span><span ng-show="reviews.count == 1">review</span></p><p class="overflowhidden"><span class="reviews-menu reviews-menu-right review-45 pull-right"></span><span class="pull-right">Very Good</span></p></h1>
                <ul>
                    <li class="clearfix" ng-repeat="review in reviews.reviews">
                        <div class="img-block">
                            <div style="background: url('images/logo-100-100.png') no-repeat">
                                <img class="hidden" onload="this.className = ''" ng-src="https://media.weeloy.com{{review.user_picture}}" alt="">
                            </div>
                        </div>
                        <div class="cnt">
                            <span><span ng-bind="review.user_name"></span>,  <span ng-bind="review.time"></span></span>
                            <span class="reviews-menu reviews-menu-right review-{{review.score * 10}}"></span>
                            <p ng-bind="review.comment"></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="hidden-on-md" ng-include="'client/app/shared/partial/_restaurant_services_and_share.html'"></div>
        </div>
    </div>
</div>
