<div id="booking-page">
    <div ng-include="'client/app/shared/partial/_menu_user.html'"></div>
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 left-menu">
            <ul>
                <li>
                    <a href="angular-client/mybookings?f=today" class="{{ (MyBookingPage == 'today')? 'mybooking-menu-selected' : '' }}">Today</a>
                </li>
                <li>
                    <a href="angular-client/mybookings?f=coming" class="{{ (MyBookingPage == 'coming')? 'mybooking-menu-selected' : '' }}">Coming Soon</a>
                </li>
                <li>
                    <a href="angular-client/mybookings?f=past" class="{{ (MyBookingPage == 'past')? 'mybooking-menu-selected' : '' }}">Past bookings</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 my-booking">
            <div class="item" ng-repeat="item in bookings" ng-show="showBookingList">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 vignette_picture">
                    <a class="res-path" ng-href="restaurant/{{ item.restaurantinfo.restaurant }}">
                        <img id="img_logo_1" ng-src="{{ item.image }}">
                    </a>
                </div>
                <div class="col-md-6 infos">
                    <h4 class="res-title" ng-bind="item.restaurantinfo.title"></h4>
                    <p class="time" ng-bind="item.timeStr"></p>
                    <p>Covers: {{ item.cover }}</p>
                </div>
                <div class="col-md-3 action_controls" ng-if="item.passed && item.wheelwin != null && item.wheelwin != ''">
                    <p class="spin_wheel_info"></p>
                    <p class="booking-status text-center" ng-bind="item.wheelwin"></p>
                    <div class="spin_wheel_info text-center">
                        <button type="button" class="btn btn-blue btn-review" ng-click="Review(item)">Review Now</button>
                    </div>
                    <div class="spin_wheel_info text-center" ng-if="item.reviewgrade != null">
                        <a href="myreviews&amp;f=past" id="member-mybooking-reviews">
                            <span title="reviewScore:{{item.reviewgrade}}" class="reviews review-{{ item.reviewgrade * 10 }}"></span>
                        </a>
                    </div>
                </div>
                <!-- Review -->
                <div class="share-social text-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-facebook text-left fbshare" ng-click="fbshare(item)"><i class="fa fa-facebook"></i> Share</button>
                    <button class="btn btn-twitter text-right twitte-share" ng-click="tws_click(item)"><i class="fa fa-twitter"></i> Twitter</button>
                </div>
            </div>
            <p ng-show="showBookingList == false" class="no-data-available">No data available</p>
            <review-section review-item="ReviewItem" ng-show="showReviewSection"></review-section>
        </div>
    </div>
</div>
