<section class="content-sec search-section" caculate-map-content-maxheight>
    <div class="container-fluid">
        <div class="search-section" ng-class="SearchSectionClasses">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nf-search id="search-bar-div" class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1" cities="cities"></nf-search>
                <search-filter class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1" cities="cities" cuisine-list="cuisineList" pricing-array="pricingArray"></search-filter>
                <section id="result_search" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="search-result-item col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-class="RestaurantItemClasses" ng-repeat="restaurant in restaurantsInMap" ng-if="$index >= skip && $index < skip + restaurantsPerPage">
                        <restaurant-item restaurant="restaurant" open-in-new-tab="true" ng-mouseover="HighLightMarker(restaurant)" ng-mouseout="notHighLightMarker(restaurant)"></restaurant-item>
                    </div>
                </section>
                <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <ul class="pagination" ng-show="showPagination">
                            <li ng-show="showPrevBtn" ng-click="setPage(page -1)">
                                <a href="#" aria-label="Previous">
                                    <span ng-click="previous()" aria-hidden="true"><</span>
                                </a>
                            </li>
                            <li ng-repeat="pageNum in pageNumbers track by $index" ng-class="{active: pageNum == page}" ng-click="setPage(pageNum)">
                                <a href="#">{{pageNum}}</a>
                            </li>
                            <li ng-show="showNextBtn" ng-click="setPage(page + 1)">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <p class="noresult col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1" ng-show="restaurantsInMap | noResult">No Result Found</p>
            </div>
            <div class="final_box">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                    <div class="col-lg-6 col-md-6 col-sm-6 showcase-image">
                        <a ng-click="go_restaurant(restaurantShowCase.restaurant)" href="" {%if data.is_mobile==f alse %} target="_blank" {% endif %}>
                            <img style='max-width:100px; position:absolute;top:-20px;left:-20px;' ng-src="https://media.weeloy.com/upload/wheelvalues/wheelvalue_{{restaurantShowCase.wheelvalue}}.png" alt="" />
                            <img ng-src="https://media.weeloy.com/upload/restaurant/{{restaurantShowCase.restaurant}}/{{restaurantShowCase.image}}" />
                            <span class='final_round'>  </span>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class='over'>
                            <center>
                                <h1><a> {{restaurantShowCase.title}} </a></h1> </center>
                            <p class="sec_text">{{restaurantShowCase.cuisine}} </p>
                            <p class="dummy">{{restaurantShowCase.description[0].title}}</p>
                            <p class="dummy">{{restaurantShowCase.description[0].body[0]}}</p>
                            <div class="book">
                                <button ng-if="restaurantShowCase.status=='active'" id="btn_book" class="btn custom_button {{restaurantShowCase.book_button.style}}" ng-href="" ng-click="go(restaurantShowCase.restaurant, restaurantShowCase.title);">BOOK NOW</button>
                                <!-- <button ng-if="restaurantShowCase.status=='comingsoon'" id="btn_book" class="btn custom_button {{restaurantShowCase.book_button.style}}">{{restaurantShowCase.book_button.text}}</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="google-map" ng-class="GoogleMapSectionClasses">
            <div id="expand-map-content">
                <div>
                    <span class="glyphicon glyphicon-arrow-left" ng-class="(MapExpanded) ? 'map-arrow-rotate' : ''" ng-click="ExpandMap()"></span>
                </div>
            </div>
            <div id="map-canvas" map="restaurants" restaurants-per-page="restaurantsPerPage" page="page" restaurants-in-map="restaurantsInMap" fit-bounds></div>
        </div>
    </div>
</section>
