<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns:fb="http://ogp.me/ns/fb#" ng-app="weeloyApp">
    <head>
        <title>{% if twig_param.page.title %}{[{twig_param.page.title}]}{%else%}Weeloy - Book restaurant online NOW{%endif%}</title>

        <meta property="og:title" content="{% if twig_param.page.title %}{[{twig_param.page.title}]}{%else%}Book Restaurant Get Promotion | Place to eat Singapore | Weeloy{%endif%}" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="{% if twig_param.page.desc %}{[{twig_param.page.desc}]}{%else%}Experience a new way of enjoying food with Weeloy.com Discover exclusive promotions in your favorite restaurant and book the best place to eat in Singapore{%endif%}" />
        <meta property="og:locale" content="en_US" /> 
        <!--<meta property="fb:app_id" content="[FB_APP_ID]" />-->

        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="robots" content="index,follow">

        <meta name="owner" content="weeloy.com">
        <meta name="apple-itunes-app" content="app-id=973030193">
        <meta name="description" content="{% if twig_param.page.desc %}{[{twig_param.page.desc}]}{%else%}Experience a new way of enjoying food with Weeloy.com Discover exclusive promotions in your favorite restaurant and book the best place to eat in Singapore{%endif%}">
        <meta name="keywords" content="{% if twig_param.page.keywords %}{[{twig_param.page.keywords}]}{%else%}restaurants in Singapore, where to eat in Singapore, fine dining Singapore, best food in Singapore{%endif%}" />
        <!--[if gte IE 8]><meta http-equiv="X-UA-Compatible" content="IE=9" /><![endif]-->
        <!--[if IE 8]><meta http-equiv="X-UA-Compatible" content="IE=8" /><![endif]-->

        <meta name="google-site-verification" content="iHu3Km_-ufs5DlCTZxayDBqSxOG8p2u26vWFqCfTY98" />
        <meta name="msvalidate.01" content="90FBBB685EF1AC19990BADECF586BE25" />
        <link rel="shortcut icon" href="favicon.ico" title="favoris icone">
        <link href="https://plus.google.com/+WeeloyAsia" rel=publisher />
        <link rel="icon" href="/favicon.ico" type="image/gif" sizes="16x16">
        <link href="css/styles_front.css" rel="stylesheet" type="text/css" />
        <!--<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
        <link href="css/multidim.css" rel="stylesheet" type="text/css" />

 
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link href="css/banner_image.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap-social.css" rel="stylesheet"/>
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        
        <link  rel="stylesheet" type="text/css" href="css/new_style.css" >-->
        
        <link  rel="stylesheet" type="text/css" href="css/new_layout.css" >
        <script src="js/jquery.js"></script>
        {% if twig_param.page.group == 'member'%}<link href="css/style_member.css" rel="stylesheet" type="text/css" />{%endif%}
        
        <!--[if lt IE 9]>
        <script src="js/html5.js"></script>
        <script src="js/selectivizr-min.js"></script>
        <script src="js/modernizr.js"></script>
        <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
        <![endif]-->
        

        {% if twig_param.page.group == 'member'%}
            <link href="css/style_member.css" rel="stylesheet" type="text/css" />    
            <link href="css/jRating.jquery.css" rel="stylesheet">
        {%endif%}
        {% if twig_param.page.name == 'front_restaurant' or twig_param.page.name == 'wheel_details' %}
            <link href="css/typo.css" rel="stylesheet">
            <link href="css/restaurant.css" rel="stylesheet" type="text/css" />
            <link href="css/font-awesome.min.css" rel="stylesheet">
            <script type="text/javascript" src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- By Devender Start -->
            <link href="css/fresco/light/fresco.css" rel="stylesheet" type="text/css">
            <script src="js/fresco/fresco.js"></script>
            <!-- By Devender End -->
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
                  <script src="js/html5shiv.js"></script>
                  <script src="js/respond.min.js"></script>
                <![endif]-->
        {%endif%}
        {% if twig_param.page.name == 'search_restaurant'%}
            <script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
            <script type="text/javascript" src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="../../bower_components/typeahead.js/dist/typeahead.jquery.js"></script>
            <script type="text/javascript" src="../../bower_components/typeahead.js/dist/bloodhound.min.js"></script>
            <script type="text/javascript" src="../../inc/weeloy.js"></script>
            <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
            <script type="text/javascript" src="//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox.js"></script>
        {%endif%}    

        {% if twig_param.page.name == 'home' %}
            <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
            <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="bower_components/typeahead.js/dist/bloodhound.min.js"></script>
            <script type="text/javascript" src="bower_components/typeahead.js/dist/typeahead.jquery.js"></script>
            <script type="text/javascript" src="inc/weeloy.js"></script>
        {%endif%}    
        

    </head>

    <body>
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TQZ2W7"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TQZ2W7');</script>
        <!-- End Google Tag Manager -->
  

        
        
        {% include 'header.html.twig' %}

        <!-- Message notification banner -->
        {% if twig_param.session|default %}
            <div class="alert alert-{[{twig_param.session.type}]}" style="margin:40px 0px -40px 0px; padding: 9px 15px; border-radius: 0"><a href="#" class="close" data-dismiss="alert">&times;</a><strong></strong>{[{twig_param.session.message|raw}]}</div>
        {% endif %}
        <!-- End Message notification banner -->


        <div class="main_container" >
            {% include twig_param.page.content_twig ignore missing %}
        </div>
        {% include 'footer.html.twig' %}



        <script type="text/javascript">
            $(document).ready(function() {
                $(".resto_vignette").height($('#image_load1').outerWidth() / 1.5);
                $(".resto_vignette").each(function() {
                    //if ($(this).height() < minHeight) { minHeight = $(this).height(); }
                    vignette_width = $('#image_load1').outerWidth();
                    source = $(this).find('img').attr('rel');
                    $(this).find('img').attr('rel', "");
                    source = source.replace("/500/", "/" + getImageBestWidth(vignette_width) + "/");
                    $(this).find('img').attr('src', source);
                });

                $("#search_button").on("click", function() {
                    $("form#form_search").submit();
                });
                $(".design-nav-1").hover(function() {
                    var parent = $(this).attr('rel'); // find closest sub_page
                    $("#design-nav" + parent).animate({
                        opacity: "0.8"
                    }, {
                        queue: false
                    });
                }, function() {
                    var parent = $(this).attr('rel');
                    $("#design-nav" + parent).animate({
                        opacity: "0"
                    }, {
                        queue: false
                    });
                });


                $('#loginModal').on('shown.bs.modal', function() {
                    try {
                        FB.XFBML.parse(document.getElementById('loginModal'));
                    } catch (e) {
                        console.log('Cannot parse XFBML: ', e);
                    }

                });




                //resize all vignette at the minimun image's height



                /*                    $(window).load(function () {
                                        //resize all vignette at the minimun image's height
                                        alert('dsa');
                                        minHeight = 9999999;
                                        $(".resto_vignette").each(function () {
                                            if ($(this).height() < minHeight) {
                                                minHeight = $(this).height();
                                            }
                                        });
                                        $(".resto_vignette").height(minHeight);
                                        
                                    });
                */
                $("#dropdownMenu2").on("click", "li a", function() {
                    var platform = $(this).text();
                    $("#dropdown_title2").html(platform);
                    $("#dd_city").removeClass("open");
                    return false;
                    //$('#printPlatform').html(platform);
                });
                {% if twig_param.page.name != 'search_restaurant'%}
                $('#restitle').keypress(function(e) {
                    if (e.which == 13) {
                        submit_search_form();
                        return false; //<---- Add this line
                    }
                });
                {% endif%}
                
                $('#submit_search_home').on("click", function() {
                    submit_search_form();
                });

                function submit_search_form() {
                    var city = $("#dropdown_title2").html();
                    var free_text = $("#restitle").val();
                    var url = "search/restaurant/" + (city.toLowerCase()).split(' ').join('') + "?restitle=" + free_text;
                    document.location.href = url;
                    return false;
                }
            });

            function WindowOpen(url) {
                window.open(url, '_blank', 'toolbar=no, scrollbars=yes, resizable=yes, top=30, left=30, width=800, height=900');
            }

            function LocalSignUp() {
                if (typeof ShowSignUp !== 'undefined')
                    ShowSignUp();
            }
            function LocalSignIn() {
                if (typeof ShowSignIn !== 'undefined')
                    ShowSignIn();
            }
            function getImageBestWidth(vignette_width) {
                if (vignette_width < 101) {
                    return 100;
                } else if (vignette_width < 141) {
                    return 140;
                } else if (vignette_width < 181) {
                    return 180;
                } else if (vignette_width < 271) {
                    return 270;
                } else if (vignette_width < 301) {
                    return 300;
                } else if (vignette_width < 326) {
                    return 325;
                } else if (vignette_width < 361) {
                    return 360;
                } else if (vignette_width < 451) {
                    return 450;
                } else if (vignette_width < 501) {
                    return 500;
                } else if (vignette_width < 601) {
                    return 600;
                } else if (vignette_width < 701) {
                    return 700;
                } else if (vignette_width < 1025) {
                    return 1024;
                } else if (vignette_width < 1441) {
                    return 1440;
                } else
                    return 500;
            }

        </script>
    </body>
</html>
