#all-rewards {
    background: #F5F5F5;
    .wheel {
        margin-top: 50px;
        .wheel-text {
            font-size: 11px;
            margin-top: 20px;
            line-height: 22px;
        }
    }
    .restaurant {
        padding: 40px 10px 0px 10px;
        .trans-block {
            background: #fff none repeat scroll 0 0;
            min-height: 100%;
            .bar-logo {
                padding-bottom: 45px;
                .img {
                    max-width: 100%;
                }
            }
            h1 {
                display: block;
                font-family: 'proximanova-semibold';
                font-size: 36px;
                color: #222;
                margin-top: 0px;
                margin-bottom: 0px;
            }
            p {
                margin-bottom: 0px;
                padding-bottom: 36px;
            }
        }
        .reward {
            background: #fff none repeat scroll 0 0;
            padding: 0px 10px;
            .style {
                border-bottom: 1px #bababa solid;
                margin-bottom: 10px;
                h2 {
                    display: block;
                    padding-bottom: 5px;
                    font-family: 'proximanova-semibold';
                    font-size: 14px;
                    color: #2aacd2;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                .custom_button {
                    background-color: #dddddd;
                    background-image: linear-gradient(to bottom, #2aa8cf, #2aa8cf);
                    border-radius: 0;
                    color: #ffffff;
                    padding: 3px 31px;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    @extend %transition;
                }
                .custom_button:hover {
                    background: linear-gradient(to bottom, #4E819C, #4E819C);
                    color: #ffffff;
                    transition: all 0.4s ease-out 0s;
                }
            }
            .style:nth-child(3),
            .style:last-child {
                border-bottom: none;
            }
        }
    }
}
