#my-review {
    min-height: 600px;
    .container {
        margin-top: 50px;
        .review {
            overflow: auto;
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid #aaa;
            min-height: 120px;
            padding: 10px;
            border-radius: 2px;
            .vignette_picture {
                padding: 0px;
                a {
                    img {
                        max-width: 100%;
                    }
                }
                .reviewgrade {
                    background-color: #f5f5f5;
                    border: 1px solid #e1e1e1;
                    border-radius: 2px;
                    color: #222;
                    font-size: 15px;
                    font-weight: bold;
                    margin: 16px;
                    padding: 12px;
                    span {
                        font-size: 20px;
                    }
                }
            }
        }
        .form-group {
            margin-left: 10px;
        }
    }
}
