#booking-page {
    min-height: 400px;
    background: #f5f5f5;
    .container {
        padding-top: 20px;
        .left-menu {
            ul {
                list-style: none;
                padding-left: 0px;
                li {
                    a {
                        color: #333333;
                        text-decoration: none;
                        font-size: 16px;
                        font-family: 'proximanova';
                        line-height: 30px;
                    }
                    .mybooking-menu-selected {
                        font-family: 'proximanova-bold';
                    }
                }
            }
        }
        .my-booking {
            .item {
                background-color: #fff;
                border: 1px solid #aaa;
                padding: 10px;
                border-radius: 2px;
                overflow: auto;
                margin-bottom: 20px;
                .vignette_picture {
                    padding: 0px;
                    img {
                        max-width: 100%;
                    }
                }
            }
            .no-data-available {
                font-family: 'proximanova';
                font-family: 12px;
                color: #8899a6;
            }
        }
        #vignette_review {
            overflow: auto;
            background-color: #fff;
            border: 1px solid #aaa;
            margin-bottom: 100px;
            .vignette_picture {
                padding-top: 15px;
                img {
                    max-width: 100%;
                }
            }
            .infos {
                padding-top: 15px;
                .form-group {
                    overflow: auto;
                    margin-bottom: 15px;
                    .sliders {
                        width: 215px!important;
                        .jStar {
                            width: 215px!important;
                        }
                    }
                    #review_comment {
                        width: 100%;
                        min-height: 150px;
                    }
                }
            }
            .btn_submit_review {
                background-color: #f0f0f0;
            }
        }
    }
}
