.restaurant-info-page {
    font-family: 'proximanova';
    button:focus,
    input:focus {
        outline: none;
    }
    background: #F5F5F5;
    #map_canvas {
        margin: 0;
        padding: 0;
        height: 250px;
        width: 100%;
    }
    .custom_button {
        background-color: #dddddd;
        background-image: linear-gradient(to bottom, #2aa8cf, #2aa8cf);
        border-radius: 0;
        color: #ffffff;
        padding: 3px 31px;
    }
    .custom_button:hover {
        background: linear-gradient(to bottom, #4E819C, #4E819C);
        color: #ffffff;
        transition: all 0.4s ease-out 0s;
    }
    .banner_restaurant {
        display: block;
        height: 522px;
    }
    .trans-block {
        min-height: 522px;
        position: relative;
        display: block;
        padding: 40px 0 0 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        h1 {
            display: block;
            font-family: 'proximanova-semibold';
            font-size: 36px;
            color: #222;
            margin-top: 0px;
        }
        p {
            display: block;
            padding-bottom: 36px;
            font-size: 16px;
            color: #222;
            margin-bottom: 0px;
        }
    }
    .bar-logo {
        display: block;
        padding-bottom: 45px;
        img {
            margin: 0 auto;
        }
    }
    .circle-img {
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: -56px;
        z-index: 1;
    }
    .panel-menu {
        background-color: #fff;
    }
    .panel-menu-heading {
        border-radius: 0px;
        padding: 10px 15px;
        cursor: pointer;
        span {
            color: #fff;
            font-family: 'proximanova';
            text-decoration: none;
            font-size: 18px;
        }
        .fa {
            float: right;
            font-size: 26px;
        }
    }
    .panel-menu-default {
        background: #2aacd2;
        position: relative;
        border-bottom: 0 none;
        color: #fff
    }
    .panel-menu-default {
        border: none;
        border-bottom: 1px #e3e3e3 solid;
    }
    .panel-menu-group {
        margin-bottom: 20px;
    }
    .panel-menu-group .panel-menu {
        border-radius: 0;
        margin-bottom: 0;
    }
    .panel-menu-group .panel-menu + .panel-menu {
        margin-top: 0px;
    }
    .panel-menu-title {
        color: inherit;
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 0;
        > a {
            font-family: 'proximanova-semibold';
            font-size: 18px;
            color: #fff;
        }
    }
    .panel-body {
        background-color: #fff;
        ul {
            padding-left: 0px;
            list-style: none;
            margin-bottom: 0px;
            li {
                p:first-child {
                    margin-bottom: 0px;
                    span:first-child {
                        font-family: 'proximanova-semibold';
                        font-size: 14px;
                        color: #000;
                        margin-bottom: 0px;
                        margin-right: 5px;
                    }
                    img {
                        width: 16px;
                    }
                    span:last-child {
                        font-family: 'proximanova';
                        font-size: 13px;
                        color: #000;
                        float: right;
                    }
                }
                p:last-child {
                    color: #333;
                    font-size: 12px;
                }
            }
        }
    }
    .container {
        display: block;
        padding-bottom: 40px;
        max-width: 1000px;
        .hidden-on-md {
            display: none;
        }
        .left {
            padding-right: 30px;
            display: block;
            padding-top: 32px;
            h1 {
                display: block;
                padding-bottom: 10px;
                margin-bottom: 15px;
                border-bottom: 1px #c0c0c0 solid;
                font-family: 'proximanova-semibold';
                font-size: 20px;
                color: #2aacd2;
            }
            .information {
                display: block;
                padding-bottom: 40px;
                p {
                    padding-bottom: 15px;
                }
                .video {
                    display: block;
                    padding-top: 20px;
                }
                a {
                    font-family: 'proximanova-semibold';
                    color: #2aacd2;
                }
                a:hover {
                    font-family: 'proximanova-semibold';
                    color: #2aacd2;
                }
                .menu {
                    display: block;
                    padding-bottom: 20px;
                    p {
                        padding-bottom: 14px;
                    }
                }
            }
            .events {
                display: block;
                border-bottom: 1px #e3e3e3 solid;
                ul {
                    li {
                        display: block;
                        padding-bottom: 40px;
                        .cnt {
                            width: 65%;
                            float: left;
                            padding-right: 20px;
                            h2 {
                                font-family: 'proximanova-semibold';
                                font-size: 16px;
                                color: #000;
                            }
                            span {
                                display: block;
                                padding-bottom: 12px;
                            }
                        }
                        .img-block {
                            width: 35%;
                            float: left;
                            img {
                                float: right;
                            }
                        }
                    }
                }
            }
            .gallery {
                display: block;
                ul {
                    display: block;
                    padding-bottom: 5px;
                    padding-left: 0px;
                    li {
                        display: block;
                        float: left;
                        border-bottom: 1px #fff solid;
                        border-right: 1px #fff solid;
                        img {
                            object-fit: cover;
                            object-position: center;
                            height: 100%;
                            width: 100%;
                        }
                    }
                    li.first {
                        width: 50%;
                        height: 200px;
                    }
                    li.second {
                        width: 33.33%;
                        height: 140px
                    }
                }
                a.view-all {
                    display: inline-block;
                    float: right;
                    font-size: 16px;
                    color: #66aacf;
                    text-decoration: underline !important;
                }
            }
            .style {
                display: block;
                padding: 10px 0px;
                border-bottom: 1px #bababa solid;
                h2 {
                    display: block;
                    margin-top: 0px;
                    padding-bottom: 5px;
                    font-family: 'proximanova-semibold';
                    font-size: 14px;
                    color: #2aacd2;
                }
            }
            .btn-facebook {
                border-radius: 2px;
            }
        }
        .right {
            display: block;
            margin-top: -522px;
            .style {
                display: block;
                padding: 10px 0px;
                border-bottom: 1px #bababa solid;
                h2 {
                    display: block;
                    margin-top: 0px;
                    padding-bottom: 5px;
                    font-family: 'proximanova-semibold';
                    font-size: 14px;
                    color: #2aacd2;
                }
            }
            .btn-facebook {
                border-radius: 2px;
            }
            .chef {
                display: block;
                padding: 40px 0 20px 20px;
                .img-block {
                    display: block;
                    padding-bottom: 30px;
                    text-align: center;
                    h2 {
                        display: block;
                        padding-top: 5px;
                        font-family: 'proximanova-semibold';
                        font-size: 16px;
                        color: #000;
                    }
                }
                h3 {
                    display: block;
                    padding-top: 5px;
                    font-family: 'proximanova-semibold';
                    font-size: 14px;
                    color: #000;
                }
                p {
                    padding-bottom: 8px;
                }
            }
        }
    }
    .inner {
        display: block;
        position: relative;
        padding: 60px 5px 8px 10px;
        background: #fff;
        border-left: 1px #bababa solid;
        border-right: 1px #bababa solid;
        border-bottom: 1px #bababa solid;
    }
    ul.business-hours {
        display: block;
        padding-bottom: 10px;
        padding-left: 0px;
        li {
            display: block;
            .day,
            .lunch,
            .dinner {
                font-family: 'proximanova-semibold';
                float: left;
                padding: 2px 5px
            }
            .day {
                width: 100px;
            }
            .lunch {
                width: 88px;
            }
            .dinner {
                width: 88px;
            }
            .style.last {
                border-bottom: none;
            }
        }
        li:first-child {
            font-size: 12px;
        }
    }
    .book-now {
        width: 100%;
        display: block;
        padding: 12px 0;
        background: #2aacd2;
        border: 1px #5490b0 solid;
        font-size: 26px;
        color: #fff;
        border-radius: 2px;
    }
    .book-now:hover {
        background: #333;
        border: 1px #333 solid;
        transition: all 0.5s ease 0s;
    }
    .reviews-section {
        .col-sm-8 {
            width: 61.667%;
        }
        h1 {
            display: block;
            padding-bottom: 5px;
            font-size: 24px;
            color: #5d5d5d;
            border-bottom: 1px #bfbfbf solid;
            p {
                margin-bottom: 0px;
                .reviews-menu {
                    margin-top: 5px;
                    margin-left: 5px;
                }
            }
            .overflowhidden {
                overflow: hidden;
            }
        }
        ul {
            display: block;
            padding: 30px 0;
            li {
                display: block;
                padding-top: 25px;
                .img-block {
                    width: 26%;
                    float: left;
                    padding-right: 30px;
                    margin-top: -20px;
                    div {
                        width: 100px;
                        height: 100px;
                        float: left;
                        border-radius: 100%;
                        -webkit-border-radius: 150px;
                        -moz-border-radius: 150px;
                        background-size: cover;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                }
                .cnt {
                    width: 74%;
                    padding-bottom: 40px;
                    border-bottom: 1px #bfbfbf solid;
                    float: left;
                    span {
                        font-family: 'proximanova-semibold';
                        color: #666;
                    }
                    p {
                        line-height: 18px;
                    }
                    .footer {
                        display: block;
                        padding: 58px 0 36px 0;
                        background: #2b2b2b;
                    }
                }
                .cnt.last {
                    border-bottom: none;
                }
            }
        }
    }
    .fixedTop {
        position: fixed;
        top: -200px;
        background: #fff;
        padding: 10px!important;
        border: 1px solid #bababa !important;
        z-index: 3;
        left: 0px;
    }
    .additional-info {
        display: block;
        margin-top: 27px;
        padding-left: 0px;
        border-top: 1px #bababa solid;
        li {
            display: block;
            border-bottom: 1px #bababa solid;
            padding: 10px 0;
            .head {
                display: block;
                color: #66aacf;
            }
            .ico {
                display: block;
                margin-right: 4px;
                float: left;
            }
            p {
                display: block;
                padding-top: 6px;
                color: #000;
            }
        }
    }
    .payment {
        display: block;
        padding-top: 12px;
        li {
            display: block;
            padding: 0px;
            margin-right: 1px;
            margin-bottom: 1px;
            border: 1px #d7d7d7 solid;
            float: left;
            a {
                display: block;
            }
        }
    }
    .reviews-menu {
        display: block;
        min-height: 15px;
        width: 80px;
    }
}

.review-05 {
    background: rgba(0, 0, 0, 0) url('../../../images/grey_bullets_sprite_small.png') no-repeat scroll 1px 1px;
}

.review-10 {
    background: rgba(0, 0, 0, 0) url('../../../images/grey_bullets_sprite_small.png') no-repeat scroll -124px 1px;
}

.review-15 {
    background: rgba(0, 0, 0, 0) url('../../../images/grey_bullets_sprite_small.png') no-repeat scroll 1px -26px;
}

.review-20 {
    background: rgba(0, 0, 0, 0) url('../../../images/grey_bullets_sprite_small.png') no-repeat scroll -124px -26px;
}

.review-25 {
    background: rgba(0, 0, 0, 0) url('../../../images/grey_bullets_sprite_small.png') no-repeat scroll 1px -52px;
}

.review-30 {
    background: rgba(0, 0, 0, 0) url('../../../images/grey_bullets_sprite_small.png') no-repeat scroll -124px -52px;
}

.review-35 {
    background: rgba(0, 0, 0, 0) url('../../../images/grey_bullets_sprite_small.png') no-repeat scroll 1px -79px;
}

.review-40 {
    background: rgba(0, 0, 0, 0) url('../../../images/grey_bullets_sprite_small.png') no-repeat scroll -124px -79px;
}

.review-45 {
    background: rgba(0, 0, 0, 0) url('../../../images/grey_bullets_sprite_small.png') no-repeat scroll 1px -106px;
}

.review-50 {
    background: rgba(0, 0, 0, 0) url('../../../images/grey_bullets_sprite_small.png') no-repeat scroll -124px -106px;
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 991px) {
    .search-outer .left {
        width: 74%;
    }
    .footer .col-sm-3:nth-child(4) {
        width: 19%;
    }
    .footer .col-sm-3:nth-child(5) {
        width: 21%;
    }
    .reviews .col-sm-8 {
        width: 100%;
    }
    .reviews ul li .img-block {
        width: 18%;
    }
    .reviews ul li .cnt {
        width: 82%;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .hidden-on-xs {
        display: none!important;
    }
    .hidden-on-md {
        display: block!important;
    }
    .search-outer .left {
        width: 76%;
    }
    .search-outer .left input {
        width: 88%;
        font-size: 12px;
    }
    .search {
        padding: 2px 10px;
    }
    .middle .left {
        padding: 0px!important;
        width: auto;
        padding-right: 15px;
    }
    .left .information .video img {
        width: 100%;
    }
    .right {
        padding: 0px;
        width: auto;
        margin-top: 0px;
        width: 100%!important;
    }
    .trans-block {
        min-height: inherit;
        padding-top: 30px;
        margin-top: 15px;
        border-top: 1px solid #bababa;
        border-left: 1px solid #bababa;
        border-right: 1px solid #bababa;
    }
    .circle-img {
        position: relative;
        bottom: 15px;
    }
    .inner {
        padding-top: 10px;
    }
    .reviews .col-sm-8 {
        width: 100%;
    }
    .reviews ul {
        padding: 0px;
    }
    .reviews ul li .cnt {
        padding-bottom: 20px;
    }
    .hide-mob {
        display: none!important;
    }
    .hide-desk {
        display: block!important;
    }
    .right {
        margin-top: 0px!important;
    }
    .fixed {
        position: relative;
        top: 0px;
        border: none !important;
        z-index: 3;
    }
    .banner_restaurant {
        height: 320px!important;
    }
    .moveup {
        top: 0px
    }
    .movedown {
        margin-top: 0px
    }
    .left .gallery ul li.first {
        width: 50%;
        height: 300px;
    }
    .left .gallery ul li.second {
        width: 33.33%;
        height: 210px
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 640px) {
    .header .col-xs-3 {
        width: 100%;
        padding-bottom: 10px;
    }
    .header .col-xs-6 {
        width: 80%;
    }
    .left .gallery ul li.first {
        width: 50%;
        height: 200px;
    }
    .left .gallery ul li.second {
        width: 33.33%;
        height: 140px
    }
    .moveup {
        top: 0px
    }
    .movedown {
        margin-top: 0px
    }
}


/* Landscape phones and down */

@media (max-width: 480px) {
    .header .col-xs-3 {
        width: 100%;
        padding-bottom: 10px;
    }
    .header .col-xs-6 {
        width: 100%;
    }
    .banner_restaurant {
        height: 320px;
    }
    .sign-detail {
        padding-top: 10px;
    }
    .left .gallery ul li.first {
        width: 50%;
        height: 200px;
    }
    .left .gallery ul li.second {
        width: 33.33%;
        height: 140px
    }
    .moveup {
        top: 0px
    }
    .movedown {
        margin-top: 0px
    }
}
