<div id="faq-page">
    <div class="container">
        <div class="row">
            <div class="col-md-10 left-sec">
                <div class="ol-typo-colswrap cols-2">
                    <h2><strong>Frequently Asked Questions</strong></h2>
                    <p> </p>
                    <h3 style="margin: 0; color: #0f9de8;">Discover WEELOY</h3>
                    <div class="ol-typo-column">
                        <p>What is WEELOY?</p>
                    </div>
                    <div class="ol-typo-column last">
                        <p>WEELOY is a dynamic distribution platform offering WEELOY Users, referred to as Weeloyers, dining privileges at select participating Weeloy restaurants. Weeloy makes it easier for Weeloyers to search for restaurants, compare offers and request a table reservation with reservation confirmation at select restaurants. Weeloy will be first introduced in Singapore, then in Thailand and Malaysia. Our intention is to expand our operations across the Asia Pacific region and eventually globally, providing you a wider selection of restaurants and services.</p>
                    </div>
                </div>
                <div class="ol-typo-colswrap cols-2">
                    <h3> </h3>
                    <h3 style="margin: 0; color: #0f9de8;">Reservation Process</h3>
                    <div class="ol-typo-column">
                        <p>How much does it cost to become a Weeloyer and to use the Weeloy systems?</p>
                    </div>
                    <div class="ol-typo-column last">
                        <p>Absolutely FREE.</p>
                    </div>
                </div>
                <div class="ol-typo-colswrap cols-2">
                    <div class="ol-typo-column">
                        <p>Do I need to register to use Weeloy to search for restaurant and to be a Weeloyer?</p>
                    </div>
                    <div class="ol-typo-column last">
                        <p>You do not need to register to search restaurants and compare offers. However, once you decide to make a table reservation; just click on the “Get Weeloy Code” at your selected restaurant’s page; provide your name, mobile number, email address, date of visit, time and number of persons in your party. And, be sure to “tick” in the box provided that you agree to the terms and conditions. Once you complete this booking process for your first booking; you are automatically registered as a Weeloyer. And, you are no longer required to provide your profile information again for future table reservations.</p>
                    </div>
                </div>
                <div class="ol-typo-colswrap cols-2">
                    <div class="ol-typo-column">
                        <p>How do I make a table reservation?</p>
                    </div>
                    <div class="ol-typo-column last">
                        <p>Simply, search for your restaurant, select a restaurant and click on “Get “Weeloy Code” at the restaurant page or click on the “Book” tab at restaurant listing.</p>
                    </div>
                </div>
                <div class="ol-typo-colswrap cols-2">
                    <div class="ol-typo-column">
                        <p>What happens after I get my “Weeloy Code” to book a table?</p>
                    </div>
                    <div class="ol-typo-column last">
                        <p>Your weeloy code is automatically sent to your mobile number and email address registered with Weeloy when you requested your first “Weeloy Code”. A table reservation request is also sent to the restaurant to alert them of your visit. Select restaurants allow Weeloy to send you a confirmation of your table reservation request on their behalf. While others will contact you directly provided advance reservations are accepted. Then, when you arrive at the restaurant please identify yourself as a Weeloyer and present your “Weeloy Code” to the restaurant staff prior to ordering your meal.</p>
                    </div>
                </div>
                <div class="ol-typo-colswrap cols-2">
                    <div class="ol-typo-column">
                        <p>Do I have access to a personal account on your website?</p>
                    </div>
                    <div class="ol-typo-column last">
                        <p>Yes, once registered, a personal account is created for you. To access your personal account simply click on the button “Sign In” tab located at the top right of the Home page and enter your User name and password. We recommend you go to the Weeloyer MyAccount link to change your password, view and amend your details, current and past reservations, restaurants visited and share them with your friends. Also, see details of the special incentives for sharing WEELOY with your friends through your preferred social media networks and to add reviews about the restaurants you visited.</p>
                    </div>
                </div>
                <div class="ol-typo-colswrap cols-2">
                    <div class="ol-typo-column">
                        <p>What happens if friends join my table and they are Weeloyers too?</p>
                    </div>
                    <div class="ol-typo-column last">
                        <p>Your family and friends are most welcomed! However, only one Weeloyer’s benefit shall apply per party per table. And, you will have to decide amongst your friends or family members; whos’ Weeloyer benefit will be used for this visit.</p>
                    </div>
                </div>
                <div class="ol-typo-colswrap cols-2">
                    <h3> </h3>
                    <h3 style="margin: 0; color: #0f9de8;">Information about the WEELOY Wheel</h3>
                    <div class="ol-typo-column">
                        <p>What does the number in the middle of the Wheel mean?</p>
                    </div>
                    <div class="ol-typo-column last">
                        <p>The number represents the total score of the Wheel. The Wheel has 24 parts and in each part an offer is displayed, which has a point ranking based on the perceived value of the offer. The total score of the Wheel is the summation of all 24 parts point score. The higher the score, the better the offers! </p>
                    </div>
                </div>
                <div class="ol-typo-colswrap cols-2">
                    <div class="ol-typo-column">
                        <p>Where and how often can I spin the WEELOY Wheel?</p>
                    </div>
                    <div class="ol-typo-column last">
                        <p>Weeloyers are entitled to spin the WEELOY Wheel at select participating restaurants as identified on the WEELOY website with an icon of the Wheel. A Weeloyer is entitled to spin the WEELOY Wheel only once per visit, per party per table.</p>
                    </div>
                </div>
                <div class="ol-typo-colswrap cols-2">
                    <div class="ol-typo-column">
                        <p>Is the Wheel displayed on the restaurant page the Wheel I will spin at the restaurant?</p>
                    </div>
                    <div class="ol-typo-column last">
                        <p>The Wheel displayed on the restaurant page is the "Wheel of the Day” and is subject to change depending on the day you actually visit the restaurant and at the sole discretion of the respective restaurant management. Therefore, you may spin the same Wheel or a new Wheel when you visit the restaurant.</p>
                    </div>
                </div>
                <div class="ol-typo-colswrap cols-2">
                    <h3> </h3>
                    <h3 style="margin: 0; color: #0f9de8;">Searching for a Restaurant</h3>
                    <div class="ol-typo-column">
                        <p>How can I search for participating restaurants?</p>
                    </div>
                    <div class="ol-typo-column last">
                        <p>Simply, visit the WEELOY website. You can use the search filters to find your favorite restaurant by name, favorite food or cuisine, location, your budget and “best Wheel”.</p>
                    </div>
                </div>
                <div class="ol-typo-colswrap cols-2">
                    <h3> </h3>
                    <h3 style="margin: 0; color: #0f9de8;">Restaurant Content</h3>
                    <div class="ol-typo-column">
                        <p>Who’s responsible for the restaurant content displayed?</p>
                    </div>
                    <div class="ol-typo-column last">
                        <p>The respective restaurant is responsible to update its content and offers as often as they deem appropriate. Weeloy provides the distribution platform that enables its consumer Users the ability to easily search for restaurants and make a table reservation. However, Weeloy is not responsible or liable for the accuracy or timeliness of the restaurant content displayed on the Weeloy websites.</p>
                    </div>
                </div>
                <div class="op-typo-pre-title"> </div>
            </div>
        </div>
    </div>
</div>
