<div id="all-rewards">
    <div class="container-fluid">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-center wheel">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wheel-image">
                <a href="https://media1.weeloy.com/upload/restaurant/SG_SG_R_NorthBorder/wheel.png?time=55ea4bf6d05e6&amp;_ga=1.109058374.2136313272.1440574026" class="fresco">
                    <img src="https://media1.weeloy.com/upload/restaurant/SG_SG_R_NorthBorder/wheel.png?time=55ea4bf6d05e6">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 text-center wheel-text">
                The Wheel is the current wheel of the restaurant and subject to change by the restaurant by the time of your visit. Users agree that all promotional offers that are posted on Weeloy Channels are not applicable in conjunction with other discounts, promotional offers or during special festive holidays, unless explicitly stated.
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 restaurant">
                <div class="trans-block text-center">
                    <div class="bar-logo text-center">
                    	<img src="https://media1.weeloy.com/upload/restaurant/SG_SG_R_NorthBorder/Logo.png">
                	</div>
                    <h1 ng-bind="restaurant.restaurantinfo.title"></h1>
                    <p><span ng-bind="restaurant.restaurantinfo.address"></span>
                        <br><span ng-bind="restaurant.restaurantinfo.region"></span>, <span ng-bind="restaurant.resaturantinfo.zip"></span>,
                        <br> <span ng-bind="restaurant.restaurantinfo.country"></span>
                    </p>
                </div>
                <div class="reward">
                    <div class="style">
                        <h2>Rewards Rating</h2>
                        <p ng-bind="restaurant.restaurantinfo.wheelvalue"></p>
                    </div>
                    <div class="style">
                        <h2>Best Rewards of North Border</h2>
                        <p ng-repeat="reward in rewards.wheel track by $index" ng-bind="reward"></p>
                    </div>
                    <div class="style last">
                        <h2>How it works</h2>
                        <p>After you book, an email is sent to you with a SPIN Code. You need it at the restaurant to Spin the wheel and win your rewards.</p>
                        <p>Enjoy your party!</p>
                    </div>
                    <div class="style last">
                        <button class="btn btn-book2 custom_button " style="font-size:18px;width:100%" rel="../../modules/booking/book_form.php?bkrestaurant=SG_SG_R_NorthBorder&amp;bktitle=North Border">BOOK NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
