{% include 'header_email.html.twig' ignore missing %}<table style='width:100%; line-height: 20px'><tr>
        <td>
            <p><br/>Dear {[{data.salutation}]} {[{data.firstname}]} {[{data.lastname}]}<br/>
                {[{data.restaurantinfo.title}]} is confirming the cancellation of your reservation<br/>
                Confirmation number: {[{data.confirmation}]}<br/>
                {[{data.restaurantinfo.title}]} Team send you their best regards</p>
        </td>
    </tr>
</table>
{% include 'footer_email.html.twig' ignore missing %}

