{% include 'header_email.html.twig' ignore missing %}<table style='width:100%; line-height: 20px'><tr>
        <td>
            <p><br/>{[{data.restaurantinfo.title}]} is confirming the cancellation of the reservation<br/>
                Confirmation number: {[{data.confirmation}]}</p>
        </td>
    </tr>
</table>
{% include 'footer_email.html.twig' ignore missing %}