<tr border="0"  style="height: 10px;background: #5285A0; width: 100%; color:#fff; font-family: tahoma" ><td border="0" style="min-height: 10px;" ></td><td border="0" >
</td>
</tr>
</table>    
</body>
</html>