<table border="0" style="width:100%; border:none" cellspacing="0" cellpadding="0">
    <tr border="0"  style="line-height: 20px;background: #5285A0; color:#fff; font-family: tahoma" >
        <td border="0" style="padding:7px;">
            <img style="padding-left:3px;margin:10px;max-height:25px" src="[top_logo.png]"/></td>
        <td border="0" >
            <span>We make dining out fun and rewarding</span>
        </td>
    </tr>
    <tr>
        <td colspan="2">