{% include 'header_email.html.twig' ignore missing %}<table style='width:100%; line-height: 20px'><tr>
        <td>
            <p></b>Dear {[{data.salutation|capitalize}]} {[{data.firstname|capitalize}]} {[{data.lastname|capitalize}]},<br/>

            <p>Thank you for choosing <b>{[{data.restaurantinfo.title}]}</b><br/>
                You won <b>{[{data.wheelwin}]}</b><br/>
                by turning the Weeloy Wheel.</p>

            <p>We are looking forward to seeing you again.<br/>
                {[{data.restaurantinfo.title}]} Team wishes you their best regards</p>

            <p><b>Booking details:</b><br/>
                Confirmation number: {[{data.confirmation}]}<br/>
                Reservation on: {[{data.rdate}]}<br/>
                Code Wheel Guest: {[{data.membCode}]}</p>

            <p><b>Restaurant details:</b><br/>
            {[{data.restaurantinfo.title}]}<br/>
            {[{data.restaurantinfo.address}]},<br/>
            {[{data.restaurantinfo.zip}]} {[{data.restaurantinfo.city}]}<br/>
            {[{data.restaurantinfo.tel}]}<br/>
            {% if data.restaurantinfo.URLrestaurant != '' %}Restaurant website: {[{data.restaurantinfo.URLrestaurant}]}<br/>{% endif %}
            Location: <a href='https://www.google.com/maps/place/{[{data.restaurantinfo.map}]}'>map</a></p>
            
            <p><b>Terms and Conditions</b><br/>
            {[{data.wheeldesc}]}</p>
        </td>
    </tr>
</table>
{% include 'footer_email.html.twig' ignore missing %}