{% include 'header_email.html.twig' ignore missing %}<table style='width:100%; line-height: 20px'><tr>
        <td>
            <p><br/>Dear {[{data.salutation|capitalize}]} {[{data.firstname|capitalize}]} {[{data.lastname|capitalize}]},<br/>
                {[{data.restaurantinfo.title}]} is happy to confirm your reservation <br/>
                on <b>{[{data.rdate}]}</b></p>

            <p><b>Booking details:</b><br/>
                Weeloy Code: {[{data.membCode}]}<br/>
                Confirmation number: {[{data.confirmation}]}<br/>
                Number of guests: {[{data.cover}]}</p>

            <p><b>Restaurant details:</b><br/>
                {[{data.restaurantinfo.title}]}<br/>
                {[{data.restaurantinfo.address}]},<br/>
                {[{data.restaurantinfo.zip}]} {[{data.restaurantinfo.city}]}<br/>
                {[{data.restaurantinfo.tel}]}<br/>
                {% if data.restaurantinfo.URLrestaurant != '' %}Restaurant website: {[{data.restaurantinfo.URLrestaurant}]}<br/>{% endif %}
                Location: <a href='https://www.google.com/maps/place/{[{data.restaurantinfo.map}]}'>map</a></p>

            <p>You need your Weeloy Code to spin the wheel at the restaurant and win one of the rewards!</p>

            <p>{[{data.restaurantinfo.title}]} Team wishes you a happy meal</p>

            <img src="[guest_qrcode.png]"/>

            {% if data.restaurantinfo.restaurant_tnc is defined and data.restaurantinfo.restaurant_tnc != ''%}
                <p>    Restaurant conditions:<br/>
                    {[{data.restaurantinfo.restaurant_tnc}]}</p>
                {% endif %}
        </td>
    </tr>
</table>
{% include 'footer_email.html.twig' ignore missing %}