{% include 'header_email.html.twig' ignore missing %}<table style='width:100%; line-height: 20px'><tr>
        <td><p><br/>New reservation on 
                <b>{[{data.rdate}]}</b><br/>
                Number of guests: {[{data.cover}]}<br/>
                Weeloy Code: {[{data.restCode}]}<br/>
                Confirmation number: {[{data.confirmation}]}</p>

            <p><b>Guest details:</b><br/>
                {[{data.salutation|capitalize}]} {[{data.firstname|capitalize}]} {[{data.lastname|capitalize}]}<br/>
                {[{data.mobile}]}<br/>
                {[{data.email}]}</p>

            <p>Guest special requests:<br/>
                {[{data.specialrequest}]}</p>

            <p><b>Restaurant details:</b><br/>
                {[{data.restaurantinfo.address}]},<br/>
                {[{data.restaurantinfo.zip}]}, {[{data.restaurantinfo.city}]}<br/>
                {[{data.restaurantinfo.tel}]}</p>
        </td>
    </tr>
</table>
{% include 'footer_email.html.twig' ignore missing %}