{% include 'header_email.html.twig' ignore missing %}
<table style='width:100%'>
    <tr>
        <td>
            <p>Dear {[{data.salutation}]} {[{data.firstname}]} {[{data.lastname}]}</p>
            <p>Confirmation number : {[{data.confirmation}]}</p>

            <p>Reservation on : {[{data.rdate}]}</p>

            <p>Code Wheel Guest : {[{data.membCode}]}</p>
            <p>Number of guests: {[{data.cover}]}</p>
            <p>Restaurant Address: {[{data.restaurantinfo.address}]},</p>
            <p>{[{data.restaurantinfo.zip}]}, {[{data.restaurantinfo.city}]}</p>
            <p>Restaurant Tel: {[{data.restaurantinfo.tel}]}</p>

            <p>Thank you for choosing to eat at our restaurant.</p>
            <p>You have won {[{data.wheelwin}]}, by turning the Weeloy Wheel.</p>
            <p>And we are looking forward to seeing you again at our restaurant.</p>

            <p>{[{data.restaurantinfo.title}]} Team wishes you their best regards</p>

        </td>
    </tr>
</table>
{% include 'footer_email.html.twig' ignore missing %}