{% include 'header_email.html.twig' ignore missing %}<table style='width:100%; line-height: 20px'><tr>
        <td>
            <p><br/>You have a new Review</p>

            <p><b>Review details:</b><br/>
                Overall: {[{data.review.reviewgrade}]} / 5<br/>
                Food: {[{data.review.foodgrade}]} / 5<br/>
                Ambiance: {[{data.review.ambiancegrade}]} / 5<br/>
                Service: {[{data.review.servicegrade}]} / 5<br/>
                Price: {[{data.review.pricegrade}]} / 5<br/>
                <br/>
                Comment: {[{data.review.comment}]}<br/>
        </td>
    </tr>
</table>
{% include 'footer_email.html.twig' ignore missing %}