{% include 'header_email.html.twig' ignore missing %}<table style='width:100%; line-height: 20px'><tr>
        <td>
            <p><br/>{[{data.firstname|capitalize}]} {[{data.lastname|capitalize}]} <br/>
                won <b>{[{data.wheelwin}]}</b>
                by turning the Weeloy Wheel.</p>

            <p><b>Booking details:</b><br/>
                Reservation on {[{data.rdate}]} <br/>


        </td>
    </tr>
</table>
{% include 'footer_email.html.twig' ignore missing %}