{% include 'header_email.html.twig' ignore missing %}<table style='width:100%; line-height: 20px'><tr>
        <td>
            <p><br/>{[{data.salutation|capitalize}]} {[{data.firstname|capitalize}]} {[{data.lastname|capitalize}]} <br/>
                won <b>{[{data.wheelwin}]}</b>
                by turning the Weeloy Wheel.</p>

            <p><b>Booking details:</b><br/>
                Reservation on {[{data.rdate}]} <br/>
                Confirmation number: {[{data.confirmation}]} <br/>
                Weeloy Code: {[{data.restCode}]} <br/>
                Number of guests: {[{data.cover}]} </p>

            <p><b>Restaurant details:</b><br/>
                {[{data.restaurantinfo.title}]}<br/>
                {[{data.restaurantinfo.address}]},<br/>
                {[{data.restaurantinfo.zip}]} {[{data.restaurantinfo.city}]}<br/>
                {[{data.restaurantinfo.tel}]}</p>
        </td>
    </tr>
</table>
{% include 'footer_email.html.twig' ignore missing %}